﻿<!DOCTYPE html>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label for="lblFDate">From Date</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="dtpFDate" class="datepicker_to"><span style="color: red;">*</span>
                        <input type="hidden" id="hdfFYId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="lblToDate">To Date</label>
                    </div>
                    <div class="col-md-8">
                        <input id="dtpToDate" name="Date" type="text" class="datepicker_from"> <span style="color: red;">*</span>
                        @*<input type="date" id="dtpToDate" class="datepicker">*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            &nbsp;&nbsp;
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">

                    <div class="table-responsive">
                        <table id="FYTable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>

                                    <th>SrNo</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>

    <script>
        $(document).ready(function () {
            $('.datepicker_to').datepicker({
                format: 'dd-M-yyyy'
            })
            $('.datepicker_from').datepicker({
                format: 'dd-M-yyyy'
            })
            ShowFY();
        });
        var _fydatatable = null;
        $(function () {
            $('#btnSave').click(function () { SaveFY(); });
        });

        function SaveFY() {
            debugger;

            if ($('#dtpToDate').val() == "" || $('#dtpFDate').val() == "") {
                alert("Please enter Financial Year Dates");
                return false;
            }
            if ($('#dtpToDate').val() < $('#dtpFDate').val()) {
                alert("Invalid date. Please enter a date which is after " + $('#dtpFDate').val());
                return false;
            }

            if (confirm("Do you want to save ?") == true) {
                $.ajax({
                    url: "/FY/SaveFY?FinancialYearId=" + $('#hdfFYId').val() + "&ToDate=" + $('#dtpToDate').val() + "&FromDate=" + $('#dtpFDate').val(),
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (response) {
                            alert(response.message);
                            Refresh();
                            ShowFY();

                    },
                    error: function (errorThrown) {
                        console.log(errorThrown);
                    }
                });
            }

        }

        function DeleteFY(fyid) {
            debugger;
            if (confirm("Do you want to delete?") == true) {
                $.ajax({
                    url: "/FY/FYDelete?FYID=" + fyid,
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (response) {
                        alert("FY deleted successfully");
                        Refresh();
                        ShowFY();
                    },
                    error: function (errorThrown) {
                        console.log(errorThrown);
                    }
                });
            }
        }
        function EditFY(fyid, fdate, todate) {
            debugger;
            $('#dtpToDate').val(todate);
            $('#dtpFDate').val(fdate);
            $('#hdfFYId').val(fyid);
        }
        function ShowFY() {
            debugger;
            $.ajax({
                url: "/FY/ShowFY",
                type: "Get",
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    debugger;
                    var data = JSON.parse(data.json);
                    _fydatatable = $('#FYTable').DataTable({
                        data: data,
                        columns: [
                            { 'data': 'financialYearId' }, //give same name come in response from service side order of names same define above
                            { 'data': 'fromDate' },
                            { 'data': 'toDate' },
                            {
                                'render': function (data, type, row) {
                                    debugger;
                                    return "<a href='#' class='btn btn-info' onclick=EditFY('" + row.financialYearId + "','" + row.fromDate + "','" + row.toDate + "'); >Edit</a>";
                                }
                            },
                            {
                                'render': function (data, type, row) {
                                    return "<a href='#' class='btn btn-danger' onclick=DeleteFY('" + row.financialYearId + "'); >Delete</a>";
                                }
                            }
                        ],
                        columnDefs:
                            [{
                                targets: [0],
                                visible: false,
                                searchable: true
                            }],
                        dom: 'Bfrtip',
                        buttons: [
                            'print'
                        ]
                    });
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                }
            });

        }


        function Refresh() {
            $('#hdfFYId').val("0");
            $('#dtpToDate').val("");
            $('#dtpFDate').val("");
            _fydatatable.destroy();


        }
    </script>
    <script src="~/Content/datatables/jquery.dataTables.min.js"></script>
</body>

