﻿@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header-box">
            <div>
                <span class=""><img src="../Content/icon/logo-1-1.png" width="70" height="60" style="float:left;"></span>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="set-login-box">
        <form id="login-form" class="smart-form client-form">
            <header></header>
            <fieldset>

                <section>
                    <label class="label">User Name</label>
                    <label class="input ">
                        <i class="icon-append fa fa-user"></i>
                        <input type="text" id="txtUserName" class="input-width" required />
                    </label>
                </section>

                <section>
                    <label class="label">Password</label>
                    <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        <input type="password" id="txtPassword" class="input-width" required />
                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
                    </label>

                </section>


            </fieldset>
            <footer>
                <button type="submit" class="btn btn-primary" onclick="LoginForm()">
                    Login
                </button>
            </footer>
        </form>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/Login.css" rel="stylesheet" />
<script>
    $(document).ready(function () { });
    function LoginForm() {

        if ($("#txtUserName").val() == "" && $("#txtPassword").val() == "") { alert("Invalid User Name & Paaword"); return false; }

        var LoginData = {
            'UserName': $("#txtUserName").val(),
            'Password': $("#txtPassword").val()
        }
                        $.ajax({
                        type: "POST",
                        url: "/Home/Login",
                        data: JSON.stringify(LoginData),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            debugger;
                            window.location.href = response;
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
             
             
         
    }
</script>


