﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Route Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtRouteName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfRouteId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Area</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbArea"></select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Route Name</th>
                            <th>Area</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    var _userdatatable = null;

    $(document).ready(function () {
         ShowArea();
        ShowData();
    });
   function ShowArea() {
        $.ajax({
            type: "GET",
            url: "/Area/ShowData",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">All</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].areaId + '">' + data[i].areaName + '</option>';
                }
                $("#cmbArea").html(s);
            }
        });
    }
    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });

    function SaveData(ref) {
        debugger;
        if ($('#txtRouteName').val() == "") {
            alert("Enter route name");
            $('#txtRouteName').focus()
            return false;
        }
           if ($('#cmbArea').val() == "-1") {
            alert("Select area");
            $('#cmbArea').focus()
            return false;
        }
        var datainfo = {
            'RouteId': $('#hdfRouteId').val(),
            'RouteName': $('#txtRouteName').val(),
            'AreaId': $('#cmbArea').val(),
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/Route/AddRoute",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(RouteId) {
        debugger;
        if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/Route/DeleteRoute?RouteId=" + RouteId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert("Data delete successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(RouteId) {
        debugger;
        $.ajax({
            url: "/Route/EditData?RouteId=" + RouteId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfRouteId').val(response.datainfo.RouteId);
                $('#txtRouteName').val(response.datainfo.RouteName);
                $('#cmbArea').val(response.datainfo.AreaId);
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ShowData() {
        debugger;
        $.ajax({
            url: "/Route/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'routeId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'routeName' },
                        { 'data': 'areaId' },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.routeId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.routeId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfRouteId').val("0");
        $('#txtRouteName').val("");
        $('#cmbArea').val("-1");
        $('#txtNarration').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
