﻿
<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Product Group</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbProductGroup"></select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Product Code</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtProductCode" autofocus required>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Pricing Level</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbPricingLevel"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Product Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtProductName" autofocus required>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-6">
                            <button id="btnSearch" name="btnSave" class="btn btn-success btn-save">Search</button>
                        </div> <div class="col-md-6">
                            <button id="btnClear" name="btnSave" class="btn btn-success btn-save">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Product Code</th>
                            <th>Name</th>
                            <th>Unit Name</th>
                            <th>Sales Rate</th>
                            <th>Purchase Rate</th>
                            <th>MRP</th>


                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
        ShowProductGroup();
        ShowPricingLevel();
        ShowData();
        //  _userdatatable = $('#DTable').DataTable();
    });
    $(function () {
        $('#btnSearch').click(function () {
            _userdatatable.destroy();
            ShowData();
        });
    });
    $(function () {
        $('#btnClear').click(function () {
            Refresh();
        });
    });
    function ShowProductGroup() {
        $.ajax({
            type: "GET",
            url: "/PriceList/ShowProductGroup",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">All</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].groupId + '">' + data[i].groupName + '</option>';
                }
                $("#cmbProductGroup").html(s);
            }
        });
    }
    function ShowPricingLevel() {
        $.ajax({
            type: "GET",
            url: "/PriceList/ShowPricingLevel",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">All</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].pricinglevelId + '">' + data[i].pricinglevelName + '</option>';
                }
                $("#cmbPricingLevel").html(s);
            }
        });
    }
    function ShowData() {
        debugger;
        var ProductGroup = ($('#cmbProductGroup').val() == null ? "-1" : $('#cmbProductGroup').val());
        var PricingLevel = ($('#cmbPricingLevel').val() == null ? "-1" : $('#cmbPricingLevel').val());
        $.ajax({
            url: "/PriceList/ShowData?groupId=" + ProductGroup + "&strProductCode=" + $('#txtProductCode').val() + "&strProductName=" + $('#txtProductName').val() + "&strPricingLevelName=" + PricingLevel,
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                // _userdatatable.destroy();
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'productId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'productCode' },
                        { 'data': 'productName' },
                        { 'data': 'unitName' },
                        { 'data': 'salesRate' },
                        { 'data': 'purchaseRate' },
                        { 'data': 'mrp' }
                    ],
                    searching: false,
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: false
                        }],

                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#cmbProductGroup').val("-1");
        $('#cmbPricingLevel').val("-1");
        $('#txtProductName').val("");
        $('#txtProductCode').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>

