﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtVoucherName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfVoucherTypeId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Method of Voucher Numbering</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbMethodOfvoucherNumbering">
                            <option value="Automatic">Automatic</option>
                            <option value="Manual">Manual</option>
                        </select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Type of Voucher</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbTypeOfVoucher"></select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">


                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Dot Matrix Print Format</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbDotMatrix"></select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Declaration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtDeclaration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Name</th>
                            <th>Type of Voucher</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />


<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
        ShowDotMatrixPrintFormat();
        ShowTypeofVoucher();
        ShowData();
    });

    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });
    function ShowDotMatrixPrintFormat() {
        debugger;
        $.ajax({
            type: "GET",
            url: "/VoucherType/ShowDotMatrixPrintFormat",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">All</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].masterId + '">' + data[i].formName + '</option>';
                }
                $("#cmbDotMatrix").html(s);
            }
        });
    }
    function ShowTypeofVoucher() {
        debugger;
        $.ajax({
            type: "GET",
            url: "/VoucherType/ShowTypeofVoucher",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">All</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].typeOfVoucher + '">' + data[i].typeOfVoucher + '</option>';
                }
                $("#cmbTypeOfVoucher").html(s);
            }
        });
    }
    function SaveData(ref) {
        debugger;
        if ($('#txtVoucherName').val() == "") {
            alert("Enter voucher name");
            $('#txtVoucherName').focus()
            return false;
        }
        if ($('#cmbTypeOfVoucher').val() == "-1") {
            alert("Select voucher type");
            $('#cmbTypeOfVoucher').focus()
            return false;
        }
        if ($('#cmbMethodOfvoucherNumbering').val() == "-1") {
            alert("Select method of voucher numbering");
            $('#cmbMethodOfvoucherNumbering').focus()
            return false;
        }
           if ($('#cmbDotMatrix').val() == "-1") {
            alert("Select Dot-Matrix print format");
            $('#cmbDotMatrix').focus()
            return false;
        }
        var datainfo = {
            'VoucherTypeId': $('#hdfVoucherTypeId').val(),
            'VoucherTypeName': $('#txtVoucherName').val(),
            'TypeOfVoucher': $('#cmbTypeOfVoucher').val(),
            'MethodOfVoucherNumbering': $('#cmbMethodOfvoucherNumbering').val(),
            'MasterId': $('#cmbDotMatrix').val(),
            'Declarartion': $('#txtDeclaration').val(),
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/VoucherType/AddVoucherType",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(VoucherTypeId) {
        debugger;
        if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/VoucherType/DeleteVoucherType?VoucherTypeId=" + VoucherTypeId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert("Data delete successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(VoucherTypeId) {
        debugger;
        $.ajax({
            url: "/VoucherType/EditData?VoucherTypeId=" + VoucherTypeId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfVoucherTypeId').val(response.datainfo.VoucherTypeId);
                $('#txtVoucherName').val(response.datainfo.VoucherTypeName);
                $('#cmbTypeOfVoucher').val(response.datainfo.TypeOfVoucher);
                $('#cmbMethodOfvoucherNumbering').val(response.datainfo.MethodOfVoucherNumbering);
                $('#cmbDotMatrix').val(response.datainfo.MasterId);
                $('#txtDeclaration').val(response.datainfo.Declarartion);
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ShowData() {
        debugger;
        $.ajax({
            url: "/VoucherType/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'voucherTypeId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'voucherTypeName' },
                        { 'data': 'typeOfVoucher' },

                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.voucherTypeId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.voucherTypeId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfVoucherTypeId').val("0");
        $('#txtVoucherName').val("");
        $('#txtDeclaration').val("");
        $('#cmbTypeOfVoucher').val("-1");
        $('#cmbMethodOfvoucherNumbering').val("-1");
        $('#cmbDotMatrix').val("-1");
        $('#txtNarration').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
