﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Service Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtServiceName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfServiceId" value="0">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25"> Rate</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtRate" autofocus required><span style="color: red;">*</span>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Category</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbCategory"></select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Service Name</th>
                            <th>Rate</th>
                            <th>Category</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
        ShowCategory();
        ShowData();
    });

    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });
    function ShowCategory() {
        debugger;
        $.ajax({
            type: "GET",
            url: "/ServiceCategory/ShowData",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">All</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].servicecategoryId + '">' + data[i].categoryName + '</option>';
                }
                $("#cmbCategory").html(s);
            }
        });
    }
    function SaveData(ref) {
        debugger;
        if ($('#txtServiceName').val() == "") {
            alert("Enter service name");
            $('#txtServiceName').focus()
            return false;
        }
        if ($('#cmbCategory').val() == "-1") {
            alert("Select category name");
            $('#cmbCategory').focus()
            return false;
        }
        if ($('#txtRate').val() == "") {
            alert("Enter rate");
            $('#txtRate').focus()
            return false;
        }

        var datainfo = {
            'ServiceId': $('#hdfServiceId').val(),
            'ServiceName': $('#txtServiceName').val(),
            'Rate': $('#txtRate').val(),
            'ServiceCategoryId': $('#cmbCategory').val(),
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/Service/AddService",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(ServiceId) {
        debugger;
        if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/Service/DeleteService?ServiceId=" + ServiceId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert("Data delete successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(ServiceId) {
        debugger;
        $.ajax({
            url: "/Service/EditData?ServiceId=" + ServiceId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfServiceId').val(response.datainfo.ServiceId);
                $('#txtServiceName').val(response.datainfo.ServiceName);
                $('#txtRate').val(response.datainfo.Rate);
                $('#cmbCategory').val(response.datainfo.ServiceCategoryId);
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ShowData() {
        debugger;
        $.ajax({
            url: "/Service/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'serviceId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'serviceName' },
                        { 'data': 'rate' },
                        { 'data': 'categoryName' },

                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.serviceId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.serviceId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfServiceId').val("0");
        $('#txtServiceName').val("");
        $('#txtRate').val("");
        $('#cmbCategory').val("-1");
        $('#txtNarration').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
