﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtAccountGroupName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfAccountGroupId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Nature</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbNature">
                            @*<option value="-1">Select Nature</option>*@
                            <option value="Assets">Assets</option>
                            <option value="Expenses">Expenses</option>
                            <option value="Income">Income</option>
                            <option value="Liabilities">Liabilities</option>
                        </select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Under</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbGroupUnder"></select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Affect Gross Profit</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbAffectGrossProfit">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="UserTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Group Name</th>
                            <th>Under</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
        AccountGroupCombo();
        ShowData();
    });
    function AccountGroupCombo() {
        $.ajax({
            type: "GET",
            url: "/AccountGroup/ShowAccountGroup",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">Select Under</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].accountGroupId + '">' + data[i].accountGroupName + '</option>';
                }
                $("#cmbGroupUnder").html(s);
            }
        });
    }
    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });

    function SaveData(ref) {
        debugger;
        if ($('#txtAccountGroupName').val() == "" || $('#cmbNature').val() == "-1" || $('#cmbGroupUnder').val() == "-1") {
            alert("Please Fill All Fields");
            return false;
        }

        var datainfo = {
            'AccountGroupId': $('#hdfAccountGroupId').val(),
            'AccountGroupName': $('#txtAccountGroupName').val(),
            'Nature': $('#cmbNature').val(),
            'GroupUnder': $('#cmbGroupUnder').val(),
            'AffectGrossProfit': $('#cmbAffectGrossProfit').val(),
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/AccountGroup/AddData",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(AccountGroupId) {
        debugger; if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/AccountGroup/DeleteData?AccountGroupId=" + AccountGroupId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    alert("Data deleted successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
        function EditData(AccountGroupId) {
        debugger;
        $.ajax({
            url: "/AccountGroup/EditData?AccountGroupId=" + AccountGroupId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfAccountGroupId').val(response.datainfo.AccountGroupId);
                $('#txtAccountGroupName').val(response.datainfo.AccountGroupName);
                $('#cmbNature').val(response.datainfo.Nature);
                $('#cmbGroupUnder').val(response.datainfo.GroupUnder);
                $('#cmbAffectGrossProfit').val(response.datainfo.AffectGrossProfit);
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    
    function ShowData() {
        debugger;
        $.ajax({
            url: "/AccountGroup/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#UserTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'accountGroupId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'accountGroupName' },
                        { 'data': 'groupUnderName' },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.accountGroupId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.accountGroupId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfAccountGroupId').val("0");
        $('#txtAccountGroupName').val("");
        $('#cmbNature').val("Assets");
        $('#cmbGroupUnder').val("-1");
        $('#cmbAffectGrossProfit').val("No");
        $('#txtNarration').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
