﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtLedgerName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfLedgerId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Group</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbGroup"></select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Opening Balance</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtOpeningBalance" style="text-align:right;width:60%" value="0.00">
                        <select class="c-user-2" id="cmbOpeningBalanceCrOrDr" style="width:20%">
                            <option value="Dr">Dr</option>
                            <option value="Cr">Cr</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
  
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="UserTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Ledger</th>
                            <th>Group</th>
                            <th>Opening Balance</th>
                            <th>Cr/Dr</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
        AccountGroupCombo();
        ShowData();
    });
    function AccountGroupCombo() {
        $.ajax({
            type: "GET",
            url: "/AccountGroup/ShowAccountGroup",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">Select Group</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].accountGroupId + '">' + data[i].accountGroupName + '</option>';
                }
                $("#cmbGroup").html(s);
            }
        });
    }
    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });

    function SaveData(ref) {
        debugger;
        if ($('#txtLedgerName').val() == "" || $('#cmbGroup').val() == "-1") {
            alert("Please Fill All Fields");
            $('#txtLedgerName').focus();
            $('#cmbGroup').focus();
            return false;
        }

        var datainfo = {
            'LedgerId': $('#hdfLedgerId').val(),
            'LedgerName': $('#txtLedgerName').val(),
            'AccountGroupId': $('#cmbGroup').val(),
            'OpeningBalance': $('#txtOpeningBalance').val(),
            'CrOrDr': $('#cmbOpeningBalanceCrOrDr').val(),
            'Narration': $('#txtNarration').val(),
            'IsDefault': false
        };
        $.ajax({
            url: "/AccountLedger/AddData",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(LedgerId) {
        debugger; if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/AccountLedger/DeleteData?LedgerId=" + LedgerId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    alert("Data deleted successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(LedgerId) {
        debugger;
        $.ajax({
            url: "/AccountLedger/EditData?LedgerId=" + LedgerId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfLedgerId').val(response.datainfo.LedgerId);
                $('#txtLedgerName').val(response.datainfo.LedgerName);
                $('#cmbGroup').val(response.datainfo.AccountGroupId);
                $('#txtOpeningBalance').val(response.datainfo.OpeningBalance);
                $('#cmbOpeningBalanceCrOrDr').val(response.datainfo.CrOrDr);
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function ShowData() {
        debugger;
        $.ajax({
            url: "/AccountLedger/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#UserTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'ledgerId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'ledgerName' },
                        { 'data': 'groupName' },
                        { 'data': 'openingBalance' },
                        { 'data': 'crOrDr' },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.ledgerId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.ledgerId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfLedgerId').val("0");
        $('#txtLedgerName').val("");
        $('#cmbOpeningBalanceCrOrDr').val("-1");
        $('#cmbGroup').val("-1");
        $('#txtOpeningBalance').val("0.00");
        $('#txtNarration').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
