﻿@*<head>
        <style type="text/css">

            table {
                width: 100%;
                margin-bottom: 30px;
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid #cdcdcd;
            }

                table th, table td {
                    padding: 10px;
                    text-align: left;
                }
        </style>
    </head>*@
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">

                        <input type="radio" name="optradio" checked> Deposit
                        <input type="radio" name="optradio"> Withdrawal
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Voucher No</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtLedgerName" autofocus required>
                        <input type="hidden" id="hdfLedgerId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Bank / Cash</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbGroup"></select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Date</label>
                    </div>
                    <div class="col-md-8">

                        <input type="text" id="dtpFDate" class="datepicker_to"><span style="color: red;">*</span>
                    </div>
                </div>








                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                  
                        <button type="button" class="delete-row">Delete Row</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SI No</th>
                            <th>Bank / Cash</th>
                            <th>Amount</th>
                            <th>Currency</th>
                            <th>Cheque No</th>
                            <th>Cheque Date</th>

                        </tr>
                    </thead>
                </table><table id="newRow" style="display:none">
                    <tbody>
                        <tr>

                            <td><span id="count"></span></td>
                            <td><select class="c-user-2" id="cmbGroup"></select></td>
                            <td><input type="text" class="c-user-1" id="txtLedgerName" style="text-align:right" value="0.00"></td>
                            <td><select class="c-user-2" id="cmbGroup"></select></td>
                            <td><input type='text' name='record2'></td>
                            <td><input type="text" id="dtpFDate" class="datepicker_from"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="col-25">Total</label>
                </div>
                <div class="col-md-8" style="align-content:flex-end">
                    <input type="text" class="c-user-1" id="txtLedgerName" style="text-align:right" value="0.00">
                </div>
            </div>
        </div>

    </div>
</body>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<script src="~/Content/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var counter = 0;
        $('.datepicker_to').datepicker({
            format: 'dd-M-yyyy'
        })
        $('.datepicker_from').datepicker({
            format: 'dd-M-yyyy'
        })

        // var url = "http://www.json-generator.com/api/json/get/bWIUWNtazS?indent=2";



        var table = $('#example').DataTable({
            // "ajax": url,
            order: [[0, "asc"]],
              dom: 'Bfrtip'
        });
        $('#example').css('border-bottom', 'none');
        $('<div class="addRow"><button id="addRow">Add New Row</button></div>').insertBefore('#example');
        $('#addRow').click(function () {

            debugger;
            //counter++;
           // $('#count').html(counter);
            //$('#count').text(counter);
            var rowHtml = $("#newRow").find("tr")[0].outerHTML
            table.row.add($(rowHtml)).draw();
             $('#count').html(function(i, val) { return val*1+1 });
           
        });



























        //var t = $('#example').DataTable();
        //var counter = 1;
        //var addrows = "<tr><td><span class='count'>1</span></td><td><select class='c-user-2' id='cmbGroup'></select></td><td><input type='text' name='record'></td><td><select class='c-user-2' id='cmbGroup'></select></td><td><input type='text' name='record'></td><td><input type='text' id='dtpFDate' class='datepicker_from'></td></tr>";

        //$('#addRow').on('click', function () {
        //    t.row.add(addrows).draw();
        //    //counter++;
        //});

        //$(".add-row").click(function () {
        //    debugger;
        //    $('.count').html(function(i, val) { return val*1+1 });

        //    var addrows = "<tr><td><span class='count'>1</span></td><td><select class='c-user-2' id='cmbGroup'></select></td><td><input type='text' name='record' style='text-align:right' value='0.00'></td><td><select class='c-user-2' id='cmbGroup'></select></td><td><input type='text' name='record'></td><td><input type='text' id='dtpFDate' class='datepicker_from'></td></tr>";
        //   $("table tbody").append(addrows);
        //   //$('#example > tbody:last-child').after(addrows);
        //});

        //// Find and remove selected table rows
        //$(".delete-row").click(function () {
        //    $("table tbody").find('input[name="record"]').each(function () {
        //        if ($(this).is(":checked")) {
        //            $(this).parents("tr").remove();
        //        }
        //    });
        //});

        //function Remove(button) {
        //    //Determine the reference of the Row using the Button.
        //    var row = $(button).closest("TR");
        //    var name = $("TD", row).eq(0).html();
        //    if (confirm("Do you want to delete: " + name)) {

        //        //Get the reference of the Table.
        //        var table = $("#tblCustomers")[0];

        //        //Delete the Table row using it's Index.
        //        table.deleteRow(row[0].rowIndex);
        //    }
        //};
    });
</script>
