﻿<!DOCTYPE html>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-md-3">
                <label for="lblUserName">User Name</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <input type="text" id="txtUserName" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-md-3">
                <label for="lblOPassword">Old Password</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <input type="password" id="txtOPassword" required>    <span class="star">*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-md-3">
                <label for="lblNPassword">New Password</label>
            </div>
            <div class="col-lg-19 col-md-9 col-sm-9">
                <input type="password" id="txtNPassword" required>    <span style="color: red;">*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-md-3">
                <label for="lblRPassword">Re-type Password</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <input type="password" id="txtRPassword" required>    <span style="color: red;">*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-md-3">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <button class="btn btn-success btn-save" style="margin-left:75px;">Save</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
       $(document).ready(function () {
        $('#txtUserName').val('@Session["UserName"]');

       });

        $(function () {
        $('#btnSave').click(function () { ChangePassword(); });
    });

    function ChangePassword() {
        debugger;
        if ($('#txtUserName').val() == "" || $('#txtOPassword').val() == ""||  $('#txtNPassword').val() == "" || $('#txtRPassword') == "") {
        alert("Please Fill All Fields");
        return false;
        }
        if ($('#txtOPassword').val() ==  $('#txtNPassword').val() ||$('#txtOPassword').val() ==  $('#txtRPassword').val()) {
            alert("New Password must not be equal to Old Password");
            return false;
        }
          if ($('#txtNPassword').val() !=  $('#txtRPassword').val()) {
            alert("New Password & ReType Password must be equal");
            return false;
        }

        var userinfo = {
            'UserId':@Session["UserId"],
            'UserName': $('#txtUserName').val(),
            'OPassword': $('#txtOPassword').val(),
            'Password': $('#txtNPassword').val(),
            'RPassword': $('#txtRPassword').val()

        };
        if (confirm("Do you want to save ?") == true) {
            $.ajax({
                url: "/ResetPassword/ChangePassword",
                type: "POST",
                data: JSON.stringify(userinfo),
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                  if (response.success) {
                   Refresh();
                   window.location.href = response.success;
                }else if(response.error) {
                    alert(response.error);  $('#txtOPassword').focus();
                }
                   
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },

            });
        }

       }
       function Refresh() {
           $('#txtUserName').val("");
           $('#txtOPassword').val("");
           $('#txtNPassword').val("");
           $('#txtRPassword').val("");

       }
    </script>
</body>

