﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Currency</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbRole"></select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Exchange Rate</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtUserName" autofocus required><span style="color: red;">*</span>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Date</label>
                    </div>
                    <div class="col-md-8">
                        <input id="dtpToDate" name="Date" type="text" class="datepicker_from">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="UserTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Currency</th>
                            <th>Date</th>
                            <th>Exchange Rate</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
         $(document).ready(function () {
            $('.datepicker_to').datepicker({
                format: 'dd-M-yyyy'
            })
            $('.datepicker_from').datepicker({
                format: 'dd-M-yyyy'
            })
            ShowFY();
        });
    });
    $(function () {
        $('#btnSave').click(function () { SaveUser(this); });
    });

    function SaveUser(ref) {
        debugger;
        if ($('#txtUserName').val() == "" || $('#cmbRole').val() == "-1" || $('#txtPassword').val() == "") {
            alert("Please Fill All Fields");
            return false;
        }
        var useractive = $('#chkActive').is(":checked") == true ? 1 : 0;
        var userinfo = {
            'UserId': $('#hdfUserId').val(),
            'UserName': $('#txtUserName').val(),
            'Narration': $('#txtNarration').val(),
            'Password': $('#txtPassword').val(),
            'RoleId': $('#cmbRole').val(),
            'Active': useractive
        };
        $.ajax({
            url: "/User/UserAdd",
            type: "POST",
            data: JSON.stringify(userinfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {

                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowUser();
            }
        });
    }
    function DeleteUser(userId) {
        debugger; if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/User/UserDelete?UserId=" + userId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    alert("User delete successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowUser();
                }
            });
        }
    }
    function EditUser(UserId, UserName, role, Narration, Active, Password, roleId) {
        debugger;
        $('#hdfUserId').val(UserId);
        $('#txtUserName').val(UserName);
        $('#cmbRole').find('option:contains("' + role + '")').attr('selected', 'selected');
        $('#txtNarration').val(Narration);
        Active == "true" ? $("#chkActive").prop('checked', true) : $("#chkActive").prop('checked', false);
        $('#txtPassword').val(Password);
    }
    function ShowUser() {
        debugger;
        $.ajax({
            url: "/User/ShowUser",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#UserTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'userId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'userName' },
                        { 'data': 'role' },
                        { 'data': 'narration' },
                        { 'data': 'active' },
                        //{ 'data': 'extra1' },
                        //{ 'data': 'extra2' },
                        //{ 'data': 'extraDate' },
                        { 'data': 'password', "visible": false },

                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditUser('" + row.userId + "','" + row.userName + "','" + row.role + "','" + row.narration + "','" + row.active + "','" + row.password + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteUser('" + row.userId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfUserId').val("0");
        $('#txtUserName').val("");
        $('#txtNarration').val("");
        $('#txtPassword').val("");
        $('#chkActive').val("");
        $('#cmbRole').val("-1");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
