﻿* {
    box-sizing: border-box;
}

input[type=text], input[type=password], input[type=number], input[type=email], select, textarea {
    width: 100%;
    height: 39px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 5px;
}

input[type=checkbox] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.main-container {
    width: 98%;
    height: auto;
}

.container {
    padding:30px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.star {
    color: red;
}

.btn-save {
    width: 20%;
    margin-top: 15px;
    display: inline-block;
    display: -webkit-box;
    margin-left: auto;
    margin-right: auto;
}

.form-btn {
    width: 20%;
    margin-top: 15px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
