﻿@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.brand {
    text-align: center !important;
    font-size: 22px;
    padding-top: 75px;
    line-height: 50px !important;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #ffbe00c4;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .form button:hover, .form button:active, .form button:focus {
            background: #43A047;
        }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .form .message a {
            color: #4CAF50;
            text-decoration: none;
        }

    .form .register-form {
        display: none;
    }

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

    .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }

        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }

            .container .info span a {
                color: #000000;
                text-decoration: none;
            }

            .container .info span .fa {
                color: #EF3B3A;
            }

body {
    /*background: #76b852; /* fallback for old browsers 
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);*/
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.error {
    display: none;
    margin-left: 10px;
}

.error_show {
    color: red;
    margin-left: 10px;
}

.header-box {
    padding: 15px;
    background: #bdbdbd;
    height: 50px;
}

.smart-form {
    margin: 0;
    outline: 0;
    color: #666;
    position: relative;
}

.client-form header {
    padding: 15px 13px;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);
}

.set-login-box {
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border: 1px solid #ddd;
    position: relative;
}

.smart-form fieldset {
    display: block;
    padding: 25px 14px 5px;
    border: none;
    background: rgba(255,255,255,.9);
    position: relative;
}

.smart-form section {
    margin-bottom: 15px;
    position: relative;
}

.smart-form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    text-align: left;
    white-space: normal;
}

.smart-form .icon-append, .smart-form .icon-prepend {
    color: #A2A2A2;
}

.smart-form .input .icon-append + input, .smart-form .textarea .icon-append + textarea {
    padding-right: 37px;
}

.smart-form .tooltip-top-right {
    bottom: 100%;
    margin-bottom: 15px;
}

.smart-form .tooltip {
    position: absolute;
    z-index: 99999;
    left: -9999px;
    padding: 2px 8px 3px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    background: rgba(0,0,0,.9);
    color: #fff;
    opacity: 0;
    transition: margin .3s,opacity .3s;
    -o-transition: margin .3s,opacity .3s;
    -ms-transition: margin .3s,opacity .3s;
    -moz-transition: margin .3s,opacity .3s;
    -webkit-transition: margin .3s,opacity .3s;
}

.note, .smart-form .note {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999;
}

    .smart-form .note a {
        font-size: 13px;
    }

.smart-form .checkbox:last-child, .smart-form .radio:last-child {
    margin-bottom: 0;
}

.smart-form .checkbox, .smart-form .radio {
    margin-bottom: 4px;
    padding-left: 25px;
    line-height: 25px;
    color: #404040;
    cursor: pointer;
    font-size: 13px;
}

    .smart-form .checkbox input, .smart-form .radio input {
        position: absolute;
        left: -9999px;
    }

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
}

.smart-form .checkbox input:checked + i, .smart-form .radio input:checked + i, .smart-form .toggle input:checked + i {
    border-color: #3276B1;
}

.smart-form footer {
    display: block;
    padding: 38px 14px 15px;
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);
}

    .smart-form footer .btn {
        float: right;
        height: 31px;
        margin: -27px 0 0 5px;
        padding: 0 22px;
        font: 300 15px/29px 'Open Sans',Helvetica,Arial,sans-serif;
        cursor: pointer;
    }

.smart-form .btn {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.input-width {
    height: 32px;
    width: 100%;
}

#extr-page-header-space {
    float: right;
    text-align: right;
    display: block;
    vertical-align: middle;
    line-height: 50px;
}

    #extr-page-header-space .btn {
        font-weight: 500;
        border: 1px solid red;
        padding: 5px;
        color: #fff;
        background-color: #a90329;
        border-color: #900323;
        text-decoration: none;
        margin-left: 5px;
        font-size: 14px;
    }

.logo-set {
    line-height: 50px;
}
