﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Batch Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtBatchName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfBatchId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Mfg. Date</label>
                    </div>
                    <div class="col-md-8">
                        <input id="dtpMfgDate" name="Date" type="text" class="datepicker_from">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Product</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbProduct"></select><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Expiry Date</label>
                    </div>
                    <div class="col-md-8">
                        <input id="dtpExpiryDate" name="Date" type="text" class="datepicker_from">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Bar Code</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-3" id="txtBarcode" autofocus required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Batch Name</th>
                            <th>Mfg. Date</th>
                            <th>Expiry Date</th>
                            <th>Product</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
       
            $('.datepicker_to').datepicker({
                format: 'dd-M-yyyy'
            })
            $('.datepicker_from').datepicker({
                format: 'dd-M-yyyy'
            })
            
      
        ShowProduct();
        ShowData();
    });
      function ShowProduct() {
        $.ajax({
            type: "GET",
            url: "/Batch/ShowProduct",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">All</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].productId + '">' + data[i].productName + '</option>';
                }
                $("#cmbProduct").html(s);
            }
        });
    }
    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });

      function SaveData(ref) {
        debugger;
        if ($('#txtBatchName').val() == "") {
            alert("Enter batch Name");
            $('#txtBatchName').focus() 
            return false;
        }
        if ($('#cmbProduct').val() == "") {
            alert("Select product");
            $('#cmbProduct').focus() 
            return false;
          }
          if ($('#dtpExpiryDate').val() !=""&& $('#dtpMfgDate').val()!="") {
              if ($('#dtpExpiryDate').val() < $('#dtpMfgDate').val()) {
                  alert("ExpiryDate should be greater than MfgDate");
                  $('#dtpExpiryDate').focus()
                  return false;
              }

                 if ($('#dtpMfgDate').val() >= $('#dtpExpiryDate').val()) {
                  alert("Can't save batch with mfg date greater than expiry date");
                  $('#dtpMfgDate').focus()
                  return false;
              }
          }
       
        var datainfo = {
            'BatchId': $('#hdfBatchId').val(),
            'BatchNo': $('#txtBatchName').val(),
            'ProductId': $('#cmbProduct').val(),
            'ManufacturingDate': $('#dtpMfgDate').val(),
            'ExpiryDate': $('#dtpExpiryDate').val(),
            'narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/Batch/AddBatch",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(BatchId) {
        debugger;
        if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/Batch/DeleteBatch?BatchId=" + BatchId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert("Data delete successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(BatchId) {
        debugger;
        $.ajax({
            url: "/Batch/EditData?BatchId=" + BatchId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfBatchId').val(response.datainfo.BatchId);
                $('#txtBatchName').val(response.datainfo.BatchNo);
                $('#cmbProduct').val(response.datainfo.ProductId);
                $('#dtpMfgDate').val(response.ManufacturingDate);
                $('#dtpExpiryDate').val(response.ExpiryDate);
                $('#txtNarration').val(response.datainfo.narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ShowData() {
        debugger;
        $.ajax({
            url: "/Batch/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'batchId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'batchNo' },
                        { 'data': 'manufacturingDate' },
                        { 'data': 'expiryDate' },
                        { 'data': 'productName' },

                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.batchId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.batchId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfBatchId').val("0");
        $('#txtBatchName').val("");
        $('#cmbProduct').val("-1");
        $('#dtpMfgDate').val("");
        $('#dtpExpiryDate').val("");
        $('#txtNarration').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
