﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfCurrencyId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Sub Unit</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtSubUnit" autofocus required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Symbol</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtSymbol" autofocus required><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">No. of Decimal Places</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtDecimalPlaces" autofocus required><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>No. of Decimal Places</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
        ShowData();
    });

    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });

    function SaveData(ref) {
        debugger;
        if ($('#txtName').val() == "") {
            alert("Enter currency name");
            $('#txtName').focus()
            return false;
        }
        if ($('#txtSymbol').val() == "") {
            alert("Enter symbol");
            $('#txtSymbol').focus()
            return false;
        }
        if ($('#txtDecimalPlaces').val() == "") {
            alert("Enter decimal places");
            $('#txtDecimalPlaces').focus()
            return false;
        }

        var datainfo = {
            'CurrencyId': $('#hdfCurrencyId').val(),
            'CurrencyName': $('#txtName').val(),
            'CurrencySymbol': $('#txtSymbol').val(),
            'NoOfDecimalPlaces': $('#txtDecimalPlaces').val(),
            'SubunitName': $('#txtSubUnit').val(),
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/Currency/AddCurrency",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(CurrencyId) {
        debugger;
        if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/Currency/DeleteCurrency?CurrencyId=" + CurrencyId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert("Data delete successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(CurrencyId) {
        debugger;
        $.ajax({
            url: "/Currency/EditData?CurrencyId=" + CurrencyId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfCurrencyId').val(response.datainfo.CurrencyId);
                $('#txtName').val(response.datainfo.CurrencyName);
                $('#txtSymbol').val(response.datainfo.CurrencySymbol);
                $('#txtSubUnit').val(response.datainfo.SubunitName);
                $('#txtDecimalPlaces').val(response.datainfo.NoOfDecimalPlaces);
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ShowData() {
        debugger;
        $.ajax({
            url: "/Currency/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'currencyId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'currencyName' },
                        { 'data': 'currencySymbol' },
                        { 'data': 'noOfDecimalPlaces' },

                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.currencyId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.currencyId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfCurrencyId').val("0");
        $('#txtName').val("");
        $('#txtSymbol').val("");
        $('#txtDecimalPlaces').val("");
        $('#txtSubUnit').val("");
        $('#txtNarration').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
