﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Salesman Code</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtSalesmanCode" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfEmployeeId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Email</label>
                    </div>
                    <div class="col-md-8">
                        <input type="email" class="c-user-2" id="txtEmail" autofocus required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Mobile</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" class="c-user-3" id="txtMobile" autofocus required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Name</label>
                    </div>
                    <div class="col-md-8">

                        <input type="text" id="txtName" class="c-user-0"><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Phone</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" class="c-user-3" id="txtPhone" autofocus required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Address</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtAddress" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Active</label>
                    </div>
                    <div class="col-md-8">

                        <input type="checkbox" id="chkActive" class="c-user-0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Mobile</th>
                            <th>Active</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
        ShowData();
    });

    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });

    function SaveData(ref) {
        debugger;
        if ($('#txtSalesmanCode').val() == "") {
            alert("Enter salesman code");
            $('#txtSalesmanCode').focus()
            return false;
        }
        if ($('#txtName').val() == "") {
            alert("Enter salesman name");
            $('#txtName').focus()
            return false;
        }
        
        var emplactive = $('#chkActive').is(":checked") == true ? 1 : 0;
        var datainfo = {
            'EmployeeId': $('#hdfEmployeeId').val(),
            'EmployeeCode': $('#txtSalesmanCode').val(),
            'Email': $('#txtEmail').val(),
            'MobileNumber': $('#txtMobile').val(),
            'EmployeeName': $('#txtName').val(),
            'PhoneNumber': $('#txtPhone').val(),
            'Address': $('#txtAddress').val(),
            'IsActive': emplactive,
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/Salesman/AddSalesman",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(EmployeeId) {
        debugger;
        if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/Salesman/DeleteSalesman?EmployeeId=" + EmployeeId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert("Data delete successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(EmployeeId) {
        debugger;
        $.ajax({
            url: "/Salesman/EditData?EmployeeId=" + EmployeeId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfEmployeeId').val(response.datainfo.EmployeeId);
                $('#txtSalesmanCode').val(response.datainfo.EmployeeCode);
                $('#txtEmail').val(response.datainfo.Email);
                $('#txtMobile').val(response.datainfo.MobileNumber);
                $('#txtName').val(response.datainfo.EmployeeName);
                $('#txtPhone').val(response.datainfo.PhoneNumber);
                $('#txtAddress').val(response.datainfo.Address);
                if (response.datainfo.IsActive == true) {
                    $("#chkActive").prop('checked', true)
                } else { $("#chkActive").prop('checked', false); }
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ShowData() {
        debugger;
        $.ajax({
            url: "/Salesman/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'employeeId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'employeeCode' },
                        { 'data': 'employeeName' },
                        { 'data': 'phoneNumber' },
                        { 'data': 'mobileNumber' },
                        { 'data': 'isActive' },

                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.employeeId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.employeeId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfEmployeeId').val("0");
        $('#txtSalesmanCode').val("");
        $('#txtEmail').val("");
        $('#txtMobile').val("");
        $('#txtName').val("");
        $('#txtPhone').val("");
        $('#txtAddress').val("");
        $('#chkActive').val("");
        $('#txtNarration').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
