﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfProductGrpId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Under</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbUnder"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Name</th>
                            <th>Under</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />


<script>
    var _userdatatable = null;

    $(document).ready(function () {

        //
        $.ajax({
            type: "GET",
            url: "/ProductGroup/ShowUnder",
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                var s = '<option value="-1">Select Under</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].groupId + '">' + data[i].groupName + '</option>';
                }
                $("#cmbUnder").html(s);
            }
        });
        //
        ShowData();
    });
    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });

    function SaveData(ref) {
        debugger;
        if ($('#txtName').val() == "") {
            alert("Enter Product Group Name");
            return false;
        }
        if ($('#cmbUnder').val() == "-1") {
            alert("Please Select Under");
            return false;
        }
        var datainfo = {
            'GroupId': $('#hdfProductGrpId').val(),
            'GroupName': $('#txtName').val(),
            'GroupUnder': $('#cmbUnder').val(),
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/ProductGroup/AddPGroup",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(groupId) {
        debugger;
         if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/ProductGroup/DeletePGroup?GroupId=" + groupId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert("Data delete successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(groupId) {
        debugger;
        $.ajax({
            url: "/ProductGroup/EditData?GroupId=" + groupId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfProductGrpId').val(response.datainfo.GroupId);
                $('#txtName').val(response.datainfo.GroupName);
                $('#cmbUnder').val(response.datainfo.GroupUnder);
                // $('#cmbUnder').find('option:contains("' + GroupUnder + '")').attr('selected', 'selected');
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ShowData() {
        debugger;
        $.ajax({
            url: "/ProductGroup/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'groupId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'groupName' },
                        { 'data': 'groupUnderName' },
                     
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.groupId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.groupId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfProductGrpId').val("0");
        $('#txtName').val("");
        $('#txtNarration').val("");
        $('#cmbUnder').val("-1");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
