﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Company Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtCompanyName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfCompanyId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Mailing Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtMailingName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Address</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-3" id="txtAddress">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Phone No</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" id="txtPhoneNo" class="c-user-0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Email</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtEmail" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Mobile</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" id="txtMobile" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Web</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtWeb" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Country</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtCountry" class="c-user-3">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">State</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtState" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">PinCode</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" id="txtPinCode" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Currency</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbCurrency"></select><span class="star">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Financial Year From</label>
                    </div>
                    <div class="col-md-8">
                        <input id="dtpFYF" name="Date" type="text" class="datepicker_FYF"><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Books Begining From</label>
                    </div>
                    <div class="col-md-8">
                        <input id="dtpBBF" name="Date" type="text" class="datepicker_BBF"><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">TIN No</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtTINNo" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">PAN No</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtPANNo" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">CST No</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtCSTNo" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <input type="checkbox" id="chkActive" checked="checked"
                               class="c-user-0"><span class="hidden-mobile hiddex-xs"> &nbsp;&nbsp; Set as default Company</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-25">
                &nbsp;
            </div>
            <div class="col-75">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="CompanyTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Company Name</th>
                            <th>Mobile</th>
                            <th>Currency</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        $('.datepicker_FYF').datepicker({
            format: 'dd-M-yyyy'
        })
        $('.datepicker_BBF').datepicker({
            format: 'dd-M-yyyy'
        })
        $.ajax({
            type: "GET",
            url: "/Company/ShowCurrency",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">Select Currency</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].currencyId + '">' + data[i].currencyName + '</option>';
                }
                $("#cmbCurrency").html(s);
            }
        });
        ShowCompany();
    });
    $(function () {
        $('#btnSave').click(function () { SaveCompany(this); });
    });

    function SaveCompany(ref) {
        debugger;
        if ($('#txtCompanyName').val() == "" || $('#cmbCurrency').val() == "-1") {
            alert("Please enter Company Name & Currency");
            return false;
        }
          if ($('#dtpFYF').val() == "" || $('#dtpBBF').val() == "") {
            alert("Please enter Financial Year From & Books Begining From");
            return false;
        }
        var dtoFYF = new Date($('#dtpFYF').val());
        var dtpBBF = new Date($('#dtpBBF').val());
        var companyinfo = {
            'CompanyId': $('#hdfCompanyId').val(),
            'CompanyName': $('#txtCompanyName').val(),
            'MailingName': $('#txtMailingName').val(),
            'Address': $('#txtAddress').val(),
            'Phone': $('#txtPhoneNo').val(),
            'Mobile': $('#txtMobile').val(),
            'EmailId': $('#txtEmail').val(),
            'Web': $('#txtWeb').val(),
            'Country': $('#txtCountry').val(),
            'State': $('#txtState').val(),
            'Pin': $('#txtPinCode').val(),
            'CurrencyId': $('#cmbCurrency').val(),
            // 'FinancialYearFrom': dtoFYF,
            //  'BooksBeginingFrom': dtpBBF,
            'Tin': $('#txtTINNo').val(),
            'Cst': $('#txtCSTNo').val(),
            'Pan': $('#txtPANNo').val()
        };
        $.ajax({
            url: "/Company/AddCompany?FinancialYearFrom=" + $('#dtpFYF').val() + "&BooksBeginingFrom=" + $('#dtpBBF').val(),
            type: "POST",
            data: JSON.stringify(companyinfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowCompany();

            }
        });
    }
    function DeleteCompany(companyId) {
        debugger;
        $.ajax({
            url: "/Company/DeleteCompany?CompanyId=" + companyId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert("Company deleted successfully");
                Refresh(); ShowCompany();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function EditCompany(companyId) {
        debugger;
        $.ajax({
            url: "/Company/EditCompany?CompanyId=" + companyId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                debugger;
                $('#hdfCompanyId').val(response.companyinfo.CompanyId);
                $('#txtCompanyName').val(response.companyinfo.CompanyName);
                $('#txtMailingName').val(response.companyinfo.MailingName);
                $('#txtAddress').val(response.companyinfo.Address);
                $('#txtPhoneNo').val(response.companyinfo.Phone);
                $('#txtMobile').val(response.companyinfo.Mobile);
                $('#txtEmail').val(response.companyinfo.EmailId);
                $('#txtWeb').val(response.companyinfo.Web);
                $('#txtCountry').val(response.companyinfo.Country);
                $('#txtState').val(response.companyinfo.State);
                $('#txtPinCode').val(response.companyinfo.Pin);
                $('#cmbCurrency').val(response.companyinfo.CurrencyId);
                $('#dtpFYF').val(response.FinancialYearFrom);
                $('#dtpBBF').val(response.BooksBeginingFrom);
                $('#txtTINNo').val(response.companyinfo.Tin);
                $('#txtCSTNo').val(response.companyinfo.Cst);
                $('#txtPANNo').val(response.companyinfo.Pan);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function ShowCompany() {
        debugger;
        $.ajax({
            url: "/Company/ShowCompany",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _companydatatable = $('#CompanyTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'companyId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'companyName' },
                        { 'data': 'mobile' },
                        { 'data': 'currencyName' },
                        //{ 'data': 'mailingName', "visible": false },
                        //{ 'data': '', "visible": false },
                        //{ 'data': 'phone', "visible": false },
                        //{ 'data': 'emailId', "visible": false },
                        //{ 'data': 'web', "visible": false },
                        //{ 'data': 'country', "visible": false },
                        //{ 'data': 'state', "visible": false },
                        //{ 'data': 'pin', "visible": false },
                        //{ 'data': 'financialYearFrom', "visible": false },
                        //{ 'data': 'booksBeginingFrom', "visible": false },
                        //{ 'data': 'tin', "visible": false },
                        //{ 'data': 'cst', "visible": false },
                        //{ 'data': 'pan', "visible": false },

                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditCompany('" + row.companyId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteCompany('" + row.companyId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfCompanyId').val("0");
        $('#txtCompanyName').val("");
        $('#txtMailingName').val("");
        $('#txtAddress').val("");
        $('#txtPhoneNo').val("");
        $('#txtMobile').val("");
        $('#txtEmail').val("");
        $('#txtWeb').val("");
        $('#txtCountry').val("");
        $('#txtState').val("");
        $('#txtPinCode').val("");
        $('#cmbCurrency').val("-1");
        $('#dtpFYF').val("");
        $('#dtpBBF').val("");
        $('#txtTINNo').val("");
        $('#txtCSTNo').val("");
        $('#txtPANNo').val(""); _companydatatable.destroy();
    }
</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
