﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Tax Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtTaxName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfTaxId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Applicable For</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbApplicableFor">
                            <option value="Bill">Bill</option>
                            <option value="Product">Product</option>

                        </select>
                        <span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Rate</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtRate" class="c-user-2"><span style="color: red;">*</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Calculation Mode</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbCalculationMode">
                            <option value="Bill Amount">Bill Amount</option>
                            <option value="Tax Amount">Tax Amount</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Active</label>
                    </div>
                    <div class="col-md-8">
                        &nbsp;
                        <input type="checkbox" id="chkActive" class="c-user-0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Tax Name</th>
                            <th>Applicable For</th>
                            <th>Calculation Mode</th>
                            <th>Active</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
        ShowData();
    });

    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });

    function SaveData(ref) {
        debugger;
        if ($('#txtTaxName').val() == "") {
            alert("Enter tax name");
            $('#txtTaxName').focus()
            return false;
        }
        if ($('#cmbApplicableFor').val() == "-1") {
            alert("Select applicable for");
            $('#cmbApplicableFor').focus()
            return false;
        }
        if ($('#cmbCalculationMode').val() == "-1") {
            alert("Select calculation mode");
            $('#cmbCalculationMode').focus()
            return false;
        }
          var taxactive = $('#chkActive').is(":checked") == true ? 1 : 0;
        var datainfo = {
            'TaxId': $('#hdfTaxId').val(),
            'TaxName': $('#txtTaxName').val(),
            'ApplicableOn': $('#cmbApplicableFor').val(),
            'Rate': $('#txtRate').val(),
            'CalculatingMode': $('#cmbCalculationMode').val(),
            'IsActive': taxactive,
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/Tax/AddTax",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(TaxId) {
        debugger;
        if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/Tax/DeleteTax?TaxId=" + TaxId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert("Data delete successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(TaxId) {
        debugger;
        $.ajax({
            url: "/Tax/EditData?TaxId=" + TaxId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfTaxId').val(response.datainfo.TaxId);
                $('#txtTaxName').val(response.datainfo.TaxName);
                $('#cmbApplicableFor').val(response.datainfo.ApplicableOn);
                $('#txtRate').val(response.datainfo.Rate);
                $('#cmbCalculationMode').val(response.datainfo.CalculatingMode);
                if (response.datainfo.IsActive == true) {
                    $("#chkActive").prop('checked', true)
                } else { $("#chkActive").prop('checked', false); }
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ShowData() {
        debugger;
        $.ajax({
            url: "/Tax/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'taxId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'taxName' },
                        { 'data': 'applicableOn' },
                        { 'data': 'calculatingMode' },
                        { 'data': 'isActive' },

                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.taxId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.taxId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfTaxId').val("0");
        $('#txtTaxName').val("");
        $('#txtRate').val("");
        $('#cmbApplicableFor').val("-1");
        $('#cmbCalculationMode').val("-1");
        $('#chkActive').val("");
        $('#txtNarration').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
