﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Rack Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtRackName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfRackId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">GoDown</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbGodown" style="width:90%"></select><span style="color: red;">*</span>
                        <a href="/Godown/Index"><img src="~/Content/icon/Plus.jpg" title="GoDown" style="width:7%"/></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Rack Name</th>
                            <th>GoDown Name</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    var _userdatatable = null;

    $(document).ready(function () {
        ShowGoDown();
        ShowData();
    });
    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });
    function ShowGoDown() {
        $.ajax({
            type: "GET",
            url: "/GoDown/ShowData",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">Select Godown</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].godownId + '">' + data[i].godownName + '</option>';
                }
                $("#cmbGodown").html(s);
            }
        });
    }
    function SaveData(ref) {
        debugger;
        if ($('#txtRackName').val() == "") {
            alert("Enter rack name");
            return false;
        }
        if ($('#cmbGodown').val() == "-1") {
            alert("Select godown");
            return false;
        }
        var datainfo = {
            'RackId': $('#hdfRackId').val(),
            'RackName': $('#txtRackName').val(),
            'GodownId': $('#cmbGodown').val(),
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/Rack/AddRack",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(RackId) {
        debugger;
        if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/Rack/DeleteRack?RackId=" + RackId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert(response.message);
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(RackId) {
        debugger;
        $.ajax({
            url: "/Rack/EditData?RackId=" + RackId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfRackId').val(response.datainfo.RackId);
                $('#txtRackName').val(response.datainfo.RackName);
                $('#cmbGodown').val(response.datainfo.GodownId);
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ShowData() {
        debugger;
        $.ajax({
            url: "/Rack/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'rackId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'rackName' },
                        { 'data': 'godownName' },

                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.rackId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.rackId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfRackId').val("0");
        $('#txtRackName').val("");
        $('#cmbGodown').val("-1");
        $('#txtManufacturer').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
