﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AccuSale</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/menu.css" rel="stylesheet" />
    <link href="~/Content/Menu2.css" rel="stylesheet" />
    <link href="~/Content/Form.css" rel="stylesheet" />
    @*<link href="~/Content/datatables/buttons.dataTables.min.css" rel="stylesheet" />
        <script src="~/Content/datatables/buttons.flash.min.js"></script>
        <script src="~/Content/datatables/buttons.html5.min.js"></script>
        <script src="~/Content/datatables/buttons.print.min.js"></script>
        <script src="~/Content/datatables/dataTables.buttons.min.js"></script>*@
</head>
<body>


    <div>
        <div class="col-md-2" style="padding-left: 0px !important;">
            <div class="nav-side-menu">
                <div class="brand"><img src="../Content/icon/logo-1-1.png" width="70" height="50" style="padding:5px;"></div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        @*<li data-toggle="collapse" data-target="#Company" class="collapsed">
                                <a href="#">
                                    <img src="../Content/icon/company.png" width="20" height="20" style="margin-left:6px;"> Company
                                </a>
                            </li>
                            <ul class="sub-menu collapse" id="Company">
                                <li><a href="#">Create Company</a></li>
                                <li><a href="#">Select Company</a></li>
                                <li><a href="#">Edit Company</a></li>
                                <li><a href="#">BackUp</a></li>
                                <li><a href="#">Restore</a></li>
                            </ul>*@
                        <li data-toggle="collapse" data-target="#products" class="collapsed active">
                            <a href="#"><img src="../Content/icon/configration-1.png" width="20" height="20" style="margin-left:6px;"> Inventory <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="products">
                            <li class="active">Stock</li>
                            <li>Stock Report</li>
                            <li>Rejection In</li>
                            <li>Rejection Out</li>
                            <li>Material Receipt</li>
                            <li>Physical Stock</li>
                            <li>Stock Journal</li>

                            @*<li class="active"><a href="/Home/Index">Customer</a></li>
                                <li><a href="#">Supplier</a></li>

                                <li><a href="#">Product Group</a></li>
                                <li><a href="#">Product Creation</a></li>
                                <li><a href="#">Multiple Product Creation</a></li>
                                <li><a href="#">Batch</a></li>
                                <li><a href="#">Brand</a></li>
                                <li><a href="#">Model Number</a></li>
                                <li><a href="#">Size</a></li>
                                <li><a href="#">Unit</a></li>
                                <li><a href="#">Godown</a></li>
                                <li><a href="#">Rack</a></li>
                                <li><a href="#">Pricing Level</a></li>
                                <li><a href="#">Price List</a></li>
                                <li><a href="#">Standard Rate</a></li>
                                <li><a href="#">Tax</a></li>
                                <li><a href="#">Currency</a></li>
                                <li><a href="#">Exchange Rate</a></li>
                                <li><a href="#">Service Category</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Voucher Type</a></li>
                                <li><a href="#">Area</a></li>
                                <li><a href="#">Route</a></li>
                                <li><a href="#">Counter</a></li>
                                <li><a href="#">Product Register</a></li>
                                <li><a href="#">Salesman</a></li>*@
                        </ul>
                        <li data-toggle="collapse" data-target="#service" class="collapsed">
                            <a href="#"><img src="../Content/icon/transaction.png" width="20" height="20" style="margin-left:6px;"> Sale  <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="service">
                            <li><a href="/POS/Index">POS</a></li>
                            <li><a href="/SaleOrder/Index">Sales Order</a></li>
                            <li><a href="/SaleReturn/Index">Sales Return</a></li>
                            <li><a href="/SalesInvoice/Index">Sales Invoice</a></li>
                            <li><a href="/SalesQuotation/Index">Sales Quotation</a></li>

                            @*<li>Contra Voucher</li>

        <li>Journal Voucher</li>
        <li>PDC Payable</li>
        <li>PDC Receivable</li>
        <li>PDC Clearance</li>
        <li>Bank Reconcilation</li>
        <li>Purchase Order</li>


        <li>Purchase Invoice</li>
        <li>Purchase Return</li>


        <li>Delivery Note</li>




        <li>Service Voucher</li>
        <li>Credit Note</li>
        <li>Debit Note</li>

        <li>Bill Allocation</li>*@
                        </ul>
                        <li data-toggle="collapse" data-target="#RecordBooks" class="collapsed">
                            <a href="#"><img src="../Content/../Content/icon/record-book-1.png" width="20" height="20" style="margin-left:6px;"> Purchase  <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="RecordBooks">
                            <li><a href="/PurchaseOrder/Index">Purchase Order</a></li>
                            <li><a href="/PurchaseInvoice/Index">Purchase Invoice</a></li>
                            <li><a href="/PurchaseReturn/Index">Purchase Return</a></li>

                            @*<li>Contra  Register</li>
                                <li>Payment Register</li>
                                <li>Receipt Register</li>

                                <li>Journal Register</li>
                                <li>PDC Payable</li>
                                <li>PDC Receivable</li>
                                <li>PDC Clearance</li>
                                >
                                <li>Material Receipt</li>
                                <li>Rejection Out</li>



                                <li>Sales Quotation</li>
                                <li>Sales Order</li>
                                <li>Delivery Note</li>

                                <li>Rejection In</li>
                                <li>Sales Invoice</li>
                                <li>Sales Return</li>
                                <li>Physical Stock</li>
                                <li>Service Register</li>
                                <li>Credit Note</li>
                                <li>Debit Note</li>
                                <li>Stock Journal</li>*@
                        </ul>
                        <li data-toggle="collapse" data-target="#Payroll" class="collapsed">
                            <a href="#"><img src="../Content/icon/payroll-1.png" width="22" height="22" style="margin-left:6px;"> Accounts  <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Payroll">


                            <li><a href="/AccountGroup/Index">Account Group</a></li>
                            <li><a href="/AccountLedger/Index">Account Ledger</a></li>
                            <li><a href="/MultipleAccountLedger/Index">Multiple Account Ledgers</a></li>
                            <li><a href="/ContraVoucher/Index">Contra Voucher</a></li>
                            <li><a href="/PaymentVoucher/Index">Payment Voucher</a></li>
                            <li><a href="/ReceiptVoucher/Index">Receipt Voucher</a></li>
                            <li><a href="/JournalVoucher/Index">Journal Voucher</a></li>
                            <li>Chart of Account</li>
                            <li>Trial Balance</li>
                            <li>Balance Sheet</li>
                            <li>Profit and Loss</li>
                            <li>Cash Flow</li>
                            <li>Fund Flow</li>
                            @*<li>Designation</li>
                                <li>Pay Head</li>
                                <li>Salary Package Creation</li>
                                <li>Salary Package Register</li>
                                <li>Employee Creation</li>

                                <li>Holiday Settings</li>
                                <li>Monthly Salary Settings</li>

                                <li>Advance Payment</li>
                                <li>Advance Register</li>
                                <li>Bonus Deduction</li>
                                <li>Bonus Deduction Register</li>
                                <li>Monthly Salary Voucher</li>
                                <li>Monthly Salary Register</li>
                                <li>Daily Salary Voucher</li>
                                <li>Daily Salary Register</li>
                                <li>Pay Slip</li>*@
                        </ul>
                        @*<li data-toggle="collapse" data-target="#Budget" class="collapsed">
                                <a href="#"><img src="../Content/icon/budget-2-1.png" width="20" height="20" style="margin-left:6px;"> Budget  <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="Budget">
                                <li>Budget</li>
                                <li>Budget Variance</li>
                            </ul>*@

                        <li data-toggle="collapse" data-target="#Budget" class="collapsed">
                            <a href="#"><img src="../Content/icon/budget-2-1.png" width="20" height="20" style="margin-left:6px;"> HR & PayRoll  <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Budget">
                            <li>Employee Register</li>
                            <li>Attendance</li>

                        </ul>



                        @*<li data-toggle="collapse" data-target="#Search" class="collapsed">
                                <a href="#"><img src="../Content/icon/search-1-1.png" width="20" height="20" style="margin-left:6px;"> Search  <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="Search">
                                <li>Product Search</li>
                                <li>Voucher Search</li>
                                <li>Voucher Wise Product Search</li>
                            </ul>*@
                        @*<li data-toggle="collapse" data-target="#Notifications" class="collapsed">
                                <a href="#"><img src="../Content/icon/notification-1.png" width="20" height="20" style="margin-left:6px;"> Notifications  <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="Notifications">
                                <li>Personal Reminder</li>
                                <li>Overdue Purchase Order</li>
                                <li>Overdue Sales Order</li>
                                <li>Short Expiry</li>

                            </ul>*@
                        @*<li data-toggle="collapse" data-target="#FinancialStatements" class="collapsed">
                                <a href="#"><img src="../Content/icon/financial-1.png" width="22" height="22" style="margin-left:6px;"> Financial Statements  <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="FinancialStatements">



                            </ul>*@
                        <li data-toggle="collapse" data-target="#Reports" class="collapsed">
                            <a href="#"><img src="../Content/icon/report.png" width="20" height="20" style="margin-left:6px;"> Reports <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Reports">
                            <li>Transactions</li>
                            <li>Payroll</li>
                            <li>Day Book</li>
                            <li>Cash/Bank Book</li>
                            <li>Account Group Report</li>
                            <li>Account Ledger Report</li>
                            <li>Outstanding Report</li>
                            <li>Ageing Report</li>
                            <li>Party's Address Book</li>
                            <li>Short Expiry Report</li>
                            <li>Product Statistics</li>
                            <li>Price List Report</li>
                            <li>Tax Report</li>
                            <li>VAT Return Report</li>
                            <li>Cheque Report</li>
                            <li>Free Sale Report</li>
                            <li>Product Vs Batch Report</li>
                        </ul>
                        <li data-toggle="collapse" data-target="#Configuration" class="collapsed">
                            <a href="#"> <img src="../Content/icon/company.png" width="20" height="20" style="margin-left:6px;"> Configuration <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Configuration">
                            <li><a href="/Customer/Index">Customer</a></li>
                            <li><a href="/Supplier/Index">Supplier</a></li>
                            <li><a href="/ProductGroup/Index">Product Group</a></li>
                            <li><a href="/ProductCreation/Index">Product Creation</a></li>
                            @*<li><a href="/MultipleProductCreation/Index">Multiple Product Creation</a></li>*@
                            <li><a href="/Batch/Index">Batch</a></li>
                            <li><a href="/Brand/Index">Brand</a></li>
                            <li><a href="/ModelNumber/Index">Model Number</a></li>
                            <li><a href="/Size/Index">Size</a></li>
                            <li><a href="/Unit/Index">Unit</a></li>
                            <li><a href="/Godown/Index">Godown</a></li>
                            <li><a href="/Rack/Index">Rack</a></li>
                            <li><a href="/PricingLevel/Index">Pricing Level</a></li>
                            <li><a href="/PriceList/Index">Price List</a></li>
                            <li><a href="/StandardRate/Index">Standard Rate</a></li>
                            <li><a href="/Tax/Index">Tax</a></li>
                            <li><a href="/Currency/Index">Currency</a></li>
                            <li><a href="/ExchangeRate/Index">Exchange Rate</a></li>
                            <li><a href="/ServiceCategory/Index">Service Category</a></li>
                            <li><a href="/Service/Index">Services</a></li>
                            <li><a href="/VoucherType/Index">Voucher Type</a></li>
                            <li><a href="/Area/Index">Area</a></li>
                            <li><a href="/Route/Index">Route</a></li>
                            <li><a href="/Counter/Index">Counter</a></li>
                            <li><a href="/ProductRegister/Index">Product Register</a></li>
                            <li><a href="/Salesman/Index">Salesman</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#Settings" class="collapsed">
                            <a href="#"><img src="../Content/icon/settings-1.png" width="20" height="20" style="margin-left:6px;"> Settings  <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Settings">
                            <li><a href="/Company/Index">Create Company</a></li>
                            <li><a href="/Role/Index">Role</a></li>
                            <li><a href="/User/Index">User Creation</a></li>
                            <li><a href="/ResetPassword/Index">Change Password</a></li>
                            <li><a href="/FY/Index">New Financial Year</a></li>

                            @*<li>Change Current Date</li>
                                <li>Settings</li>
                                <li>Role Privilege Settings</li>
                                <li>Change Financial Year</li>
                                <li>Barcode Settings</li>
                                <li>Barcode Printing</li>
                                <li>Suffix Prefix Settings</li>
                                <li>Change Product Tax</li>
                                <li>Dotmatrix Print Designer</li>
                                <li>Rebuild Index</li>
                                <li>Cloud Sync Settings</li>*@
                        </ul>
                        <li>
                            <a href="/Home/Index">
                                <img src="../Content/icon/logout.png" width="20" height="20" style="margin-left:6px;"> LogOut
                            </a>
                        </li>
                        @*<li>
                                <a href="#">
                                    <img src="../Content/icon/contact.png" width="20" height="20" style="margin-left:6px;"> Contact Us
                                </a>
                            </li>*@
                </div>
            </div>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>

    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>