﻿<!DOCTYPE html>
<html>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Customer Code</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtCustomerCode" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfLedgerId" value="0">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Customer Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtCustomerName"><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Opening Balance</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" class="c-user-3" id="txtOpeningBalance" value="0.00" style="text-align:right;width:60%">
                        <select class="c-user-2" id="cmbDrorCr" style="width:20%">
                            <option value="Dr">Dr</option>
                            <option value="Cr">Cr</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Branch Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtBranchName" class="c-user-0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Mobile</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" id="txtMobile" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Address</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtAddress" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Bill By Bill</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbBillbyBill">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Credit Limit</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" id="txtCreditLimit" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">CST</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtCST" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Area</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbArea"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Route</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbRoute"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Mailing Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtMailingName" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">A/C No.</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtAccountNo" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Branch Code</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtBranchCode" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Phone</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtphone" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Email</label>
                    </div>
                    <div class="col-md-8">
                        <input type="email" id="txtEmail" class="form-control" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Pricing Level</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbPricingLevel"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Credit Period</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtCreditPeriod" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">TIN</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtTin" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">PAN</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtPan" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-25">
                &nbsp;
            </div>
            <div class="col-75">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="CustomerTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Customer Code</th>
                            <th>Name</th>
                            <th>Opening Balance</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script>
    var _customerdatatable = null;
    $(document).ready(function () {
        debugger;

        ShowArea();
        ShowRoute();
        ShowPricingLevel();
        ShowCustomer();
    });
    function ShowArea() {
        $.ajax({
            type: "GET",
            url: "/Area/ShowData",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">Select Area</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].areaId + '">' + data[i].areaName + '</option>';
                }
                $("#cmbArea").html(s);
            }
        });
    }
    function ShowRoute() {
        $.ajax({
            type: "GET",
            url: "/Route/ShowData",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">Select Route</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].routeId + '">' + data[i].routeName + '</option>';
                }
                $("#cmbRoute").html(s);
            }
        });
    }
    function ShowPricingLevel() {
        $.ajax({
            type: "GET",
            url: "/Pricinglevel/ShowData",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">Select Pricing Level</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].pricinglevelId + '">' + data[i].pricinglevelName + '</option>';
                }
                $("#cmbPricingLevel").html(s);
            }
        });
    }
    $(function () {
        $('#btnSave').click(function () { SaveCustomer(this); });
    });

    function SaveCustomer(ref) {
        debugger;
        if ($('#txtCustomerCode').val() == "") {
            alert("Enter customer code");
            $('#txtCustomerCode').focus()
            return false;
        }
        if ($('#txtCustomerName').val() == "") {
            alert("Enter customer name");
            return false;
        }

        var customerinfo = {
            'LedgerId': $('#hdfLedgerId').val(),
            'AccountGroupId': 26,
            'LedgerCode': $('#txtCustomerCode').val(),
            'LedgerName': $('#txtCustomerName').val(),
            'OpeningBalance': $('#txtOpeningBalance').val(),
            'CrOrDr': $('#cmbDrorCr').val(),
            'MailingName': $('#txtMailingName').val(),
            'Address': $('#txtAddress').val(),
            'Phone': $('#txtphone').val(),
            'Mobile': $('#txtMobile').val(),
            'Email': $('#txtEmail').val(),
            'CreditPeriod': $('#txtCreditPeriod').val(),
            'CreditLimit': $('#txtCreditLimit').val(),
            'PricinglevelId': $('#cmbPricingLevel').val(),
            'BillByBill': $('#cmbBillbyBill').val(),
            'Tin': $('#txtTin').val(),
            'Cst': $('#txtCST').val(),
            'Pan': $('#txtPan').val(),
            'RouteId': $('#cmbRoute').val(),
            'BankAccountNumber': $('#txtAccountNo').val(),
            'BranchCode': $('#txtBranchCode').val(),
            'BranchName': $('#txtBranchName').val(),
            'AreaId': $('#cmbArea').val(),
            'IsDefault': false,
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/Customer/AddCustomer",
            type: "POST",
            data: JSON.stringify(customerinfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowCustomer();

            }
        });
    }
    function DeleteCustomer(LedgerId) {
        debugger;
        $.ajax({
            url: "/Customer/DeleteCustomer?LedgerId=" + LedgerId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert("Customer deleted successfully");
                Refresh();

            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () { ShowCustomer(); }
        });
    }
    function EditCustomer(LedgerId) {
        debugger;
        $.ajax({
            url: "/Customer/EditCustomer?LedgerId=" + LedgerId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                debugger;
                $('#hdfLedgerId').val(response.customerinfo.LedgerId);
                $('#txtCustomerCode').val(response.customerinfo.LedgerCode);
                $('#txtCustomerName').val(response.customerinfo.LedgerName);
                $('#txtOpeningBalance').val(response.customerinfo.OpeningBalance);
                $('#cmbDrorCr').val(response.customerinfo.CrOrDr);
                $('#txtMailingName').val(response.customerinfo.MailingName);
                $('#txtAddress').val(response.customerinfo.Address);
                $('#txtphone').val(response.customerinfo.Phone);
                $('#txtMobile').val(response.customerinfo.Mobile);
                $('#txtEmail').val(response.customerinfo.Email);
                $('#txtCreditPeriod').val(response.customerinfo.CreditPeriod);
                $('#txtCreditLimit').val(response.customerinfo.CreditLimit);
                $('#cmbPricingLevel').val(response.customerinfo.PricinglevelId);
                $('#cmbBillbyBill').val((response.customerinfo.BillByBill == false ? 0 : 1));
                $('#txtTin').val(response.customerinfo.Tin);
                $('#txtCST').val(response.customerinfo.Cst);
                $('#txtPan').val(response.customerinfo.Pan);
                $('#cmbRoute').val(response.customerinfo.RouteId);
                $('#txtAccountNo').val(response.customerinfo.BankAccountNumber);
                $('#txtBranchCode').val(response.customerinfo.BranchCode);
                $('#txtBranchName').val(response.customerinfo.BranchName);
                $('#cmbArea').val(response.customerinfo.AreaId);
                $('#txtNarration').val(response.customerinfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function ShowCustomer() {
        debugger;
        $.ajax({
            url: "/Customer/ShowCustomer",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _customerdatatable = $('#CustomerTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'ledgerId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'ledgerCode' },
                        { 'data': 'ledgerName' },
                        { 'data': 'openingBalance' },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditCustomer('" + row.ledgerId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteCustomer('" + row.ledgerId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfLedgerId').val("0");
        $('#txtCustomerCode').val("");
        $('#txtCustomerName').val("");
        $('#txtOpeningBalance').val("0.00");
        $('#cmbDrorCr').val("-1");
        $('#txtMailingName').val("");
        $('#txtAddress').val("");
        $('#txtphone').val("");
        $('#txtMobile').val("");
        $('#txtEmail').val("");
        $('#txtCreditPeriod').val("");
        $('#txtCreditLimit').val("");
        $('#cmbPricingLevel').val("-1");
        $('#cmbBillbyBill').val("-1");
        $('#txtTin').val("");
        $('#txtCST').val("");
        $('#txtPan').val("");
        $('#cmbRoute').val("-1");
        $('#txtAccountNo').val("");
        $('#txtBranchCode').val("");
        $('#txtBranchName').val("");
        $('#cmbArea').val("-1");
        $('#txtNarration').val("");
        _customerdatatable.destroy();
    }
</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
