﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtAccountGroupName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfccountGroupId" value="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Formal Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtFormalName" autofocus required><span style="color: red;">*</span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">No. of Decimal Place</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtDecimalPlaces"><span style="color: red;">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            &nbsp;
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive">
                <table id="DTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Name</th>
                            <th>No. of Decimal Place</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/select.dataTables.min.css" rel="stylesheet" />
<script href="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>*@
<script>
    var _userdatatable = null;

    $(document).ready(function () {
        debugger;
        ShowData();
        //$('#_userdatatable').on('click', 'tbody td:not(:first-child)', function (e) {
        //    editor.inline(this);
        //});
    });

    $(function () {
        $('#btnSave').click(function () { SaveData(this); });
    });

    function SaveData(ref) {
        debugger;
        if ($('#txtUnitname').val() == "") {
            alert("Enter unit name");
            $('#txtUnitname').focus()
            return false;
        }
        if ($('#txtFormalName').val() == "") {
            alert("Enter formal name");
            $('#txtFormalName').focus()
            return false;
        }
        if ($('#txtDecimalPlaces').val() == "") {
            alert("Enter no of decimal places");
            $('#txtDecimalPlaces').focus()
            return false;
        }

        var datainfo = {
            'UnitId': $('#hdfUnitId').val(),
            'UnitName': $('#txtUnitname').val(),
            'formalName': $('#txtFormalName').val(),
            'noOfDecimalplaces': $('#txtDecimalPlaces').val(),
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/Unit/AddUnit",
            type: "POST",
            data: JSON.stringify(datainfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowData();
            }
        });
    }
    function DeleteData(UnitId) {
        debugger;
        if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/Unit/DeleteUnit?UnitId=" + UnitId,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert("Data delete successfully");
                    Refresh();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                },
                complete: function () {
                    ShowData();
                }
            });
        }
    }
    function EditData(UnitId) {
        debugger;
        $.ajax({
            url: "/Unit/EditData?UnitId=" + UnitId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                $('#hdfUnitId').val(response.datainfo.UnitId);
                $('#txtUnitname').val(response.datainfo.UnitName);
                $('#txtFormalName').val(response.datainfo.formalName);
                $('#txtDecimalPlaces').val(response.datainfo.noOfDecimalplaces);
                $('#txtNarration').val(response.datainfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ShowData() {
        debugger;
        $.ajax({
            url: "/Unit/ShowData",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _userdatatable = $('#DTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'unitId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'unitName' },
                        { 'data': 'noOfDecimalplaces' },

                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditData('" + row.unitId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.unitId + "'); >Delete</a>";
                            }
                        }
                    ],
                    //select: {
                    //    style: 'os',
                    //    selector: 'td:first-child'
                    //},
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });


            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfUnitId').val("0");
        $('#txtUnitname').val("");
        $('#txtFormalName').val("");
        $('#txtDecimalPlaces').val("");
        $('#txtNarration').val("");
        _userdatatable.destroy();
    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
