@media (min-width: 560px){
	.login-modal .modal-dialog{width: 400px;}
}

@media (max-width: 1280px) {
	.info-block:nth-child(1), .info-block:nth-child(2), .info-block:nth-child(3){padding: 20px 10px;}

}
@media (max-width: 1199px) {
	.working-hours li span{font-size: 13px;}
	.contact-detail li{margin-right: 15px;}
	.contact-detail li p{font-size: 12px;}
	.main-nav-2 > ul > li > a{padding: 30px 8px;}
	.header-style-3 .nav-style-3 .navigation > li{margin:0;}
	.nav-style-3 .social-icons{display: none;}
	.blog-meta-2 li{font-size: 13px;}
}

@media (max-width: 1024px) {
	.progress-skill,
	.about-skills { margin: 40px 0 0; }
}

@media (max-width: 991px) {
	.navigation > li{margin: 0;line-height: 40px;}
	.navigation > li > a{padding:20px 5px;font-size: 12px;}
	.top-right-side li{margin: 0 10px 0 0;}
	.footer-widget{margin: 0 0 30px;}
	.test-holder{margin: 30px 0 0;}
	.theme-padding{padding: 50px 14px !important;}
	.blog-section{padding: 0 0 30px;}
	.blog-container,
	.project-team,
	.s-style-2{margin: 0 0 30px;}
	.project-detail-holder .col-md-4.pull-left{float: none !important;}
	.test-2-slider .item{margin: 0;}
	.cr-contact-details h3{font-size: 14px;font-weight: bold;padding: 20px 10px;}
	.no-display{display: none;}
	.primary-header-2{padding: 10px 0;}
	.primary-header-2{background: rgba(255,255,255,0.7);}
	.services-paralax ul li.active:after{margin: 30px 0 0;}
	.header-style-3 .nav-style-3 .navigation li a{font-size: 14px;}
	.cr-team .pull-right{float: none !important;}
	.team-holder2 .team-img{float: left;margin: 0 20px 0 0;}
	.team-info{overflow: initial;}
	.team-holder2 .text-right{text-align: left;}
	.cr-counter span{font-size: 16px;}
	.home-2-login{display: inline-block;}
	.test-2-slider .owl-nav{top: initial;bottom: 0;right: 0;}
	.banner-section h3 { font-size: 18px; }
	.client-reviews blockquote{ padding-top: 40px; }

	.masonry-grid {margin: 0 0 30px;}
	.smb-30{ margin: 0 0 30px; }
	.serprator-holder h2::after, .serprator-holder h2::before{width: 100px;}
	.success-jumbo .serprator-holder h2::after,.success-jumbo .serprator-holder h2::before{width: 0;}
	.success-jumbo .serprator-holder h2 { border: 0; margin: 0 0 30px; }

}

@media (max-width: 767px) {
.nav-holder .navbar-collapse{position: absolute;background: #5b3d2b;width: 100%;right:0;z-index: 100;
margin: 10px 15px 0 0;width: 220px;}
.nav-holder .navbar-collapse .navigation li{display:block;}
.nav-holder .navbar-collapse .navigation li a{color: #fff;}
.caption-holder h2{font-size: 22px;line-height: 32px;}
.caption-holder p{font-size: 13px;margin: 0 0 15px;}
.flicker-imgs li{width: 18.333%;}
.test-head{width: 60%;}
.cr-contact-details{margin: 0 0 50px;}
#main-nav .navigation{display: none;}
.cr-counter{margin: 0 0 30px;}
.client-area > h3{width: 65%; font-size: 22px;}
#map2{height: 300px;}
.tp-caption{  }
.xsmb-30{margin: 0 0 30px;}
.team-holder{padding-bottom: 40px;}
.about-skills { margin: 0 0 30px; }

.services-tabs { text-align: center; padding: 30px 20px; }
.services-tabs li {display: inline-block; margin: 0 20px 0 0;}
.services-tabs li:last-child {margin:0;}
.services-tabs li a span { display: none; }
.services-tabs ul li.active::after { border-style: solid; border-width: 0 20px 20px 20px; border-color: transparent transparent #f4f4f4; 
top: initial; bottom: -32px;left: calc(50% - 25px); width: 0; height: 0;}
}

@media (max-width: 800px) {

}

@media (max-width: 640px) {
	.caption-holder:after,.caption-holder::before{border: 0;}
	.test-head{width: 70%;font-size: 26px;}
	.cr-services .row.no-gutters{ margin-right: 15px; margin-left: 15px;}
	.cr-services .row.no-gutters [class*="col-"]{ padding-right: 15px; padding-left: 15px;}
	.blog-meta-2 li::after{padding: 0 5px;}
	.blog-meta-2 li{font-size: 12px;}
	.serprator-holder h2::after, .serprator-holder h2::before{width: 100px;}
	.faqs-area li h4{font-size: 14px;}
	.client-area .col-xs-4.pull-right{display: none;}
	.client-area .col-xs-8{width: 100%;}
	.client-reviews blockquote{padding: 40px;}
	.client-reviews .owl-nav{margin: 0; bottom: 0;}
}

@media (max-width: 560px) {

	.theme-padding{padding: 50px 0;}
	.theme-padding-bottom{padding: 50px 0;}
	.theme-padding-top{padding: 50px 0 0;}
	.blog-artical .blog-meta{position: initial;}
	.blog-artical .title-holder{margin: 0 0 15px;}
	.cr-auther .img-holder{bottom: 90%;}
	.service-style-2 .col-xs-6{width: 100%;}
	.map-contact .radio{padding: 20px 10px;font-size: 12px;}
	.primary-header-2 .social-icons{display: none;}
	.primary-header-2 .res-btn{display: inline-block;text-align: right;line-height: 50px;font-size: 22px;}
	.faqs-area li h4{font-size: 13px;}
	.header-style-3 .primary-header{display: none;}
	.cr-services .tab-content{width: 90%;}
	.blog-meta-2{padding: 10px;}
	.blog-meta-2 li{font-size: 11px;}
	.blog-meta-2 li::after{padding: 0 2px;}


}

@media (max-width: 480px) {
	.caption-holder{display:;}
	.test-head{width: 90%;font-size: 24px;}
	.cr-about h2{font-size: 26px;}
	.auther-info{float: none;margin: 0 0 30px;}
	.cr-auther .img-holder{bottom: 90%;}
	.cr-auther{padding: 50px 0 0;}
	.blog-main .col-md-9.pull-right{float: none!important;}
	.children{padding: 30px 0 0 70px;}
	.comment-body{margin: 40px 0 0;padding: 70px 10px 10px;}
	.comment-avatar{left: calc(50% - 40px);top: -45px;}
	.cr-filterbale-nav li{margin: 0 15px 0 0 ;}
	.cr-filterbale-nav li a{font-size: 13px;}
	.cr-pagination ul li a{padding: 3px 9px;}
	.cr-pagination ul li{margin: 0 1px 0 0;}
	.map-overlay{display: none;}
	#map{height: 300px;}
	.primary-header-2 .social-icons{display: none;}
	.services-paralax ul li .theme-btn{font-size: 12px;padding: 10px 2px;}
	.services-paralax ul li.col-xs-3{padding-left: 5px;padding-right: 5px;}
	.caption-holder-2{display: ;}
	.cr-counter::before, .cr-counter::after{border: 0;}
	.progress-icons li{width: 50px;height: 50px;line-height: 50px;}
	.r-full-width{ width: 100%!important;}
	.mrg-left{margin-left:0px !important;}
	.blog-meta-2{padding: 5px;font-size: 13px;}
	.blog-s-icons li a{font-size: 14px;padding: 2px 6px;}
	.serprator-holder h2::after, .serprator-holder h2::before{width: 0; height: 0;}
	.serprator-holder h2 { border:0; }
	.serprator-holder h2{font-size: 23px;padding: 0;}
	.r-full-width.text-right,.service-catg li{text-align: left;}
	.service-catg li:nth-child(4),
	.service-catg li:nth-child(5),
	.service-catg li:nth-child(6){margin: 0 0 20px;}
	.error{padding: 20px;}
	.error h2{font-size: 100px;}
	.error h2 span{font-size: 170px;}
	.faqs-area li h4{font-size: 12px;padding: 10px;text-transform: none;}
	.faqs-area li h4::after, .faqs-area li h4::before{font-size: 16px;margin-top: -10px;right: -15px;}
	.page-heading h4{font-size: 16px;text-transform: none;margin: 0 0 10px;}
	.blog-meta-2 li{font-size: 13px;}
	.blog-grid .blog-meta-2{padding: 20px;}
	.blog-grid .blog-s-icons li a{padding: 10px 15px;}
	.tp-caption { display:; }
	.tp-caption .caption p{
		line-height:15px !important;
		font-size:10px !important;
	    }
	.tp-caption .caption h2{
		line-height:25px !important;
		font-size:20px !important;
		margin-top:-35px !important;
	}	
	.tp-caption .caption a{
		font-size:15px !important;
		border:1px solid white !important;
		margin-top:20px !important;
		padding:10px !important;
	}
	.social-icon-holder li a { width: 30px ;height:30px ;line-height: 30px;font-size: 16px; }
	.services-tabs li a i { width: 50px; height: 50px; line-height: 50px; font-size: 24px; }
	.services-tabs li {margin: 0 10px 0 0;}
	.blog-version-2 .social-icon-holder { display: none; }
	.cr-services .tab-content { padding: 50px 0; }
}

@media (max-width: 320px) {
	.blog-img{position: initial;}
	.blog-img img{width: 100%;}
	.blog-detail{margin: 0;padding: 10px;}
	.blog-section{margin: 0 0 30px;}
	.project-overlay h3{font-size: 16px;}
	.children{padding: 30px 0 0 40px;}
	.comment-meta{font-size: 13px;}
	.services-paralax ul li .theme-btn{font-size: 11px;padding: 10px 2px;}
	.counter .col-xs-6{width: 100%;}
	.error p{font-size: 12px;}
	.client-area > h3{width: 85%;}
	.client-reviews blockquote q{font-size: 13px;}
	.search-form > li > ul{ width: 270px; }


}
@media (max-width: 450px) {
	.height-1{
	height:300px !important;
	}
	.caption-holder.caption-holder-3 h2{
		font-size: 20px;
		margin-left:-10px;
		line-height:25px !important;
	}
}
@media (max-width: 770px) {
	 .mrg-left{margin-left:0px !important;}
}