/*
  [Master Stylesheet]
 @Author: Theme786
 @URL: http://Theme786.com
 version: 1.1
 Last change: 3/7/2019[set table of centent]
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.
 
 This files contents are outlined below.
 01.	Google Font
 02.	Import Other Css
 03.	Theme Reset Style
 04.	Global Elements
*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header         /      #header
3. Navigation     /      #nav-holder
4. Slider         /      #tp-banner-container
5. Content       /       #main-content
6. Footer        /       #footer
7. Slide Menu    /       #res-menu
8. login modal   /       #login-modal
9. Service       /       #services-tab
10.Testtimonial holder/  #client-area
11.project filter /      #cr-filterbale-nav
12.BLog           /      #project-overlay
13.map holder     /
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
# [Color codes]



# lite brown (header) #e0a344
# Brown (top navigation) #5b3d2b
# Mid grey: #666666
# */



/*----Start Side Navigation Style---*/
  .nav-side-menu {
         overflow: auto;
         font-family: verdana;
         font-size: 12px;
         font-weight: 200;
         background-color: #2e353d;
         position: fixed;
         top: 0px;
         width: 301px;
         height: 100%;
         color: #e1ffff;
         }
         .nav-side-menu::-webkit-scrollbar-track
         {
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
         background-color: #CCCCCC;
         }
         .nav-side-menu::-webkit-scrollbar
         {
         width: 0px;
         background-color: #F5F5F5;
         }
         .nav-side-menu::-webkit-scrollbar-thumb
         {
         background-color: #FFF;
         background-image: -webkit-linear-gradient(90deg,
         rgba(0, 0, 0, 1) 0%,
         rgba(0, 0, 0, 1) 25%,
         transparent 100%,
         rgba(0, 0, 0, 1) 75%,
         transparent)
         }
         .nav-side-menu {
         width: 300px;
         height: 100%;
         overflow-y: scroll;
         scrollbar-color: rebeccapurple green;
         scrollbar-width:none;
         }
         .nav-side-menu .brand {
         background-color: #23282e;
         line-height: 50px;
         display: block;
         text-align: center;
         font-size: 14px;
         }
         .nav-side-menu .toggle-btn {
         display: none;
         }
         .nav-side-menu ul,
         .nav-side-menu li {
         list-style: none;
         padding: 0px;
         margin: 0px;
         line-height: 35px;
         cursor: pointer;
         }
         .nav-side-menu ul :not(collapsed) .arrow:before,
         .nav-side-menu li :not(collapsed) .arrow:before {
         font-family: FontAwesome;
         content: "\f078";
         display: inline-block;
         padding-left: 10px;
         padding-right: 10px;
         vertical-align: middle;
         float: right;
         }
         .nav-side-menu ul .active,
         .nav-side-menu li .active {
         border-left: 3px solid #d19b3d;
         background-color: #4f5b69;
         }
         .nav-side-menu ul .sub-menu li.active,
         .nav-side-menu li .sub-menu li.active {
         color: #d19b3d;
         }
         .nav-side-menu ul .sub-menu li.active a,
         .nav-side-menu li .sub-menu li.active a {
         color: #d19b3d;
         }
         .nav-side-menu ul .sub-menu li,
         .nav-side-menu li .sub-menu li {
         background-color: #181c20;
         border: none;
         line-height: 28px;
         border-bottom: 1px solid #23282e;
         margin-left: 0px;
         }
         .nav-side-menu ul .sub-menu li:hover,
         .nav-side-menu li .sub-menu li:hover {
         background-color: #020203;
         }
         .nav-side-menu ul .sub-menu li:before,
         .nav-side-menu li .sub-menu li:before {
         font-family: FontAwesome;
         content: "\f105";
         display: inline-block;
         padding-left: 10px;
         padding-right: 10px;
         vertical-align: middle;
         }
         .nav-side-menu li {
         padding-left: 0px;
         border-left: 3px solid #2e353d;
         border-bottom: 1px solid #23282e;
         }
         .nav-side-menu li a {
         text-decoration: none;
         color: white;
         }
         .nav-side-menu li a i {
         padding-left: 10px;
         width: 20px;
         padding-right: 20px;
         }
         .nav-side-menu li:hover {
         border-left: 3px solid #d19b3d;
         background-color: #4f5b69;
         -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
         -ms-transition: all 1s ease;
         transition: all 1s ease;
         }
         @media (max-width: 767px) {
         .nav-side-menu {
         position: relative;
         width: 100%;
         margin-bottom: 10px;
         }
         .nav-side-menu .toggle-btn {
         display: block;
         cursor: pointer;
         position: absolute;
         right: 10px;
         top: 10px;
         z-index: 10 !important;
         padding: 3px;
         background-color: #ffffff;
         color: #000;
         width: 40px;
         text-align: center;
         }
         .brand {
         text-align: left !important;
         font-size: 22px;
         padding-left: 20px;
         line-height: 50px !important;
         }
         }
         @media (min-width: 767px) {
         .nav-side-menu .menu-list .menu-content {
         display: block;
         }
         }
         body {
         margin: 0px;
         padding: 0px;
         }
/*----End Side Navigation Style---*/


/*---Start Role Form Style---*/
.set-width{
          width: 75%;
          
		  border-radius:5px;
          padding: 16px;
          display: block;
          margin: 0 auto;
          margin-top: 100px;
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }
	.form-group {
      margin-bottom: 0.5rem !important;
}
    .set-width label{
      float: left;
      width:auto;
      display: block;
    }
    .set-width  .form-1{
      width: 256px;
      margin-left:35px;
      height: 30px;
    }
	.space{
		padding:5px;
	}
    .set-width  .form-2{
      margin-left:6px;
      width: 256px;
      height: 42px;
	  margin-top:-3px;
    }
	.btn-width{
		width:75px;
	}
	.inner-box{
		height:270px;
		
	}
/*----Start Creation user Style---*/
    
	.c-user-1{
	  width:200px;
		height:30px;
		margin-left:49px;
	}
	.c-user-2{
		width:200px;
		height:30px;
		margin-left:97px;
	}
	.c-user-3	{
		width:200px;
		height:30px;
		margin-left:61px;
	}
	.c-user-4{
		width:280px;
		height:80px;
		margin-left:4px;
	}
	.c-user-0{
	  width:200px;
		height:30px;
	}
	
	.box{
		
		width:100%;
		height:auto;
		padding:10px;
	}
	.box-1{
		
		width:100%;
		height:auto;
		padding:10px;
	}
	.space-1{
		margin-top:10px;
	}
	.space-2{
		
		margin-left:50px;
	}
	.c-user-5{
		width:200px;
		height:30px;
	}
	.c-user-6{
		width:200px;
		height:30px;
	}
	.search-btn{
		
		width:75px;
		}
	
    .mrg{
		margin-bottom:10px;
	}	
	.detail-section{
		background-color:#6a6a6a;
		color:white;
		vertical-align:middle;
		border-right: 2px solid #fff;
	}
	.detail-section-1{
		background-color:#a6a6a6;
		color:white;
		vertical-align:middle;
		border-right: 2px solid #fff;
	}
	
/*----End Creation user Style*---/

/*---Start Resetpassword Style---*/
.reset-pw-width{
	      width: 45%;
          
		  border-radius:5px;
          padding: 51px;
          display: block;
          margin: 0 auto;
          margin-top: 100px;
		  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;*/
}	
.re-set-0{
	width:200px;
		height:30px;
		
}
.re-set-1{
	width:200px;
		height:30px;
		margin-left:25px;
		
}
.re-set-2{
	width:200px;
		height:30px;
		margin-left:31px;
		
}
.re-set-3{
	width:200px;
		height:30px;
		margin-left:48px;
		
}
.space-3{
	margin-left:131px;
	margin-top:8px;
}
/*---End resetpassword Style--*/

/*---Start New Financial Year Style--*/
.f-year-1{
   width:200px;
		height:30px;
		margin-left:31px;	
}
.f-year-2{
   width:200px;
		height:30px;
		margin-left:50px;	
}
.f-space{
	margin-top:5px;
}
.space-4{
	margin-left:107px;
	margin-top:8px;
}
/*---End New Financial Year Style--*/