﻿<!DOCTYPE html>
<html>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Supplier Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="c-user-1" id="txtSupplierName" autofocus required><span style="color: red;">*</span>
                        <input type="hidden" id="hdfLedgerId" value="0">

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Opening Balance</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" class="c-user-3" id="txtOpeningBalance" value="0.00" style="text-align:right;width:60%">
                        <select class="c-user-2" id="cmbDrorCr" style="width:20%">
                            <option value="Dr">Dr</option>
                            <option value="Cr">Cr</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Branch Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtBranchName" class="c-user-0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Mobile</label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" id="txtMobile" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Address</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtAddress" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">TIN</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtTin" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">PAN</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtPan" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Route</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbRoute"></select>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Mailing Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtMailingName" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">A/C No.</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtAccountNo" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Branch Code</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtBranchCode" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Phone</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtphone" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Email</label>
                    </div>
                    <div class="col-md-8">
                        <input type="email" id="txtEmail" class="form-control" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Bill By Bill</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbBillbyBill">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">CST</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtCST" class="c-user-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Area</label>
                    </div>
                    <div class="col-md-8">
                        <select class="c-user-2" id="cmbArea"></select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <label class="col-25">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:85px"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-8">
                        <button id="btnSave" name="btnSave" class="btn btn-success btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-25">
                &nbsp;
            </div>
            <div class="col-75">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="SupplierTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Supplier Name</th>
                            <th>Opening Balance</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script>
    var _supplierdatatable = null;
    $(document).ready(function () {
        debugger;
        ShowArea();
        ShowRoute();
        ShowSupplier();
    });
    function ShowArea() {
        $.ajax({
            type: "GET",
            url: "/Area/ShowData",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">Select Area</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].areaId + '">' + data[i].areaName + '</option>';
                }
                $("#cmbArea").html(s);
            }
        });
    }
    function ShowRoute() {
        $.ajax({
            type: "GET",
            url: "/Route/ShowData",
            success: function (data) {
                var data = JSON.parse(data.json);
                var s = '<option value="-1">Select Route</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].routeId + '">' + data[i].routeName + '</option>';
                }
                $("#cmbRoute").html(s);
            }
        });
    }

    $(function () {
        $('#btnSave').click(function () { SaveSupplier(this); });
    });

    function SaveSupplier(ref) {
        debugger;
        if ($('#txtSupplierName').val() == "") {
            alert("Enter supplier name");
            $('#txtSupplierName').focus()
            return false;
        }
        var supplierinfo = {
            'LedgerId': $('#hdfLedgerId').val(),
            'AccountGroupId': 22,
            'LedgerName': $('#txtSupplierName').val(),
            'OpeningBalance': $('#txtOpeningBalance').val(),
            'CrOrDr': $('#cmbDrorCr').val(),
            'MailingName': $('#txtMailingName').val(),
            'BankAccountNumber': $('#txtAccountNo').val(),
            'BranchCode': $('#txtBranchCode').val(),
            'BranchName': $('#txtBranchName').val(),
            'Phone': $('#txtphone').val(),
            'Mobile': $('#txtMobile').val(),
            'Address': $('#txtAddress').val(),
            'BillByBill': $('#cmbBillbyBill').val(),
            'CreditLimit': 0,
            'CreditPeriod': 0,
            'AreaId': $('#cmbArea').val(),
            'RouteId': $('#cmbRoute').val(),
            'Email': $('#txtEmail').val(),
            'PricinglevelId': 26,
            'Tin': $('#txtTin').val(),
            'Cst': $('#txtCST').val(),
            'Pan': $('#txtPan').val(),
            'IsDefault': false,
            'Narration': $('#txtNarration').val()
        };
        $.ajax({
            url: "/Supplier/AddSupplier",
            type: "POST",
            data: JSON.stringify(supplierinfo),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert(response.message);
                Refresh();
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () {
                ShowSupplier();

            }
        });
    }
    function DeleteSupplier(LedgerId) {
        debugger;
        $.ajax({
            url: "/Supplier/DeleteSupplier?LedgerId=" + LedgerId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                alert("Supplier deleted successfully");
                Refresh();

            },
            error: function (errorThrown) {
                console.log(errorThrown);
            },
            complete: function () { ShowSupplier(); }
        });
    }
    function EditSupplier(LedgerId) {
        debugger;
        $.ajax({
            url: "/Supplier/EditSupplier?LedgerId=" + LedgerId,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                debugger;
                $('#hdfLedgerId').val(response.Supplierinfo.LedgerId);
                $('#txtSupplierName').val(response.Supplierinfo.LedgerName);
                $('#txtOpeningBalance').val(response.Supplierinfo.OpeningBalance);
                $('#cmbDrorCr').val(response.Supplierinfo.CrOrDr);
                $('#txtMailingName').val(response.Supplierinfo.MailingName);
                $('#txtAddress').val(response.Supplierinfo.Address);
                $('#txtphone').val(response.Supplierinfo.Phone);
                $('#txtMobile').val(response.Supplierinfo.Mobile);
                $('#txtEmail').val(response.Supplierinfo.Email);
                $('#txtCreditPeriod').val(response.Supplierinfo.CreditPeriod);
                $('#txtCreditLimit').val(response.Supplierinfo.CreditLimit);
                $('#cmbPricingLevel').val(response.Supplierinfo.PricinglevelId);
                $('#cmbBillbyBill').val((response.Supplierinfo.BillByBill == false ? 0 : 1));
                $('#txtTin').val(response.Supplierinfo.Tin);
                $('#txtCST').val(response.Supplierinfo.Cst);
                $('#txtPan').val(response.Supplierinfo.Pan);
                $('#cmbRoute').val(response.Supplierinfo.RouteId);
                $('#txtAccountNo').val(response.Supplierinfo.BankAccountNumber);
                $('#txtBranchCode').val(response.Supplierinfo.BranchCode);
                $('#txtBranchName').val(response.Supplierinfo.BranchName);
                $('#cmbArea').val(response.Supplierinfo.AreaId);
                $('#txtNarration').val(response.Supplierinfo.Narration);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function ShowSupplier() {
        debugger;
        var Route = ($('#cmbRoute').val() == null ? "0" : $('#cmbRoute').val());
        var Area = ($('#cmbArea').val() == null ? "0" : $('#cmbArea').val());
        $.ajax({
            url: "/Supplier/ShowSupplier?AreaId=" + Area + "&RouteId=" +Route + "&ledgername=" + $('#txtSupplierName').val(),
            // url: "/Supplier/ShowSupplier",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _supplierdatatable = $('#SupplierTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'ledgerId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'ledgerName' },
                        { 'data': 'openingBalance' },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditSupplier('" + row.ledgerId + "'); >Edit</a>";
                            },
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteSupplier('" + row.ledgerId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip'

                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $('#hdfLedgerId').val("0");
        $('#txtSupplierName').val("");
        $('#txtOpeningBalance').val("0.00");
        $('#cmbDrorCr').val("-1");
        $('#txtMailingName').val("");
        $('#txtAddress').val("");
        $('#txtphone').val("");
        $('#txtMobile').val("");
        $('#txtEmail').val("");
        $('#txtCreditPeriod').val("");
        $('#txtCreditLimit').val("");
        $('#cmbPricingLevel').val("-1");
        $('#cmbBillbyBill').val("-1");
        $('#txtTin').val("");
        $('#txtCST').val("");
        $('#txtPan').val("");
        $('#cmbRoute').val("-1");
        $('#txtAccountNo').val("");
        $('#txtBranchCode').val("");
        $('#txtBranchName').val("");
        $('#cmbArea').val("-1");
        $('#txtNarration').val("");
        _supplierdatatable.destroy();
    }
</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
