﻿<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-3">
                        <label for="txtRole">Role</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtRole" placeholder="" required="">
                        <input type="hidden" id="hdfRoleId" value="0">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="txtNarration">Narration</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="txtNarration" placeholder="" style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-4">
                                <button id="btnSave" name="btnSave" class="btn btn-success btn-save ">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">

                    <div class="table-responsive">
                        <table id="RoleTable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>

                                    <th>SrNo</th>
                                    <th>Role</th>
                                    <th>Narration</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/css/buttons.dataTables.min.css" rel="stylesheet" />

<script>
    var _roledatatable = null;
    $(document).ready(function () { ShowRole(); });

    $(function () {
        $('#btnSave').click(function () { SaveRole(this); });
    });

    function SaveRole(ref) {
        debugger;
        if ($('#txtRole').val() == "") {
            alert("Please enter Role"); $('#txtRole').focus();
            return false;
        }
        var role = {
            'RoleId': $('#hdfRoleId').val(),
            'Role': $('#txtRole').val(),
            'Narration': $('#txtNarration').val(),
            'Extra1': null,
            'Extra2': null
        };
        $.ajax({
            url: "/Role/RoleAdd",
            type: "POST",
            data: JSON.stringify(role),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (response) {
                 alert(response.message);
                //if (response.success) {
                //    alert(response.success);
                   Refresh();
                   ShowRole();
                //}else if(response.error) {
                //    alert(response.error);  $('#txtRole').focus();
                //}
              
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function DeleteRoles(roleid) {
        debugger; if (confirm("Do you want to delete?") == true) {
            $.ajax({
                url: "/Role/RoleDelete?roleid=" + roleid,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (response) {
                    alert("Role deleted successfully");
                    Refresh();
                    ShowRole();
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }
    function EditRoles(roleid, role, narration) {
        debugger;
        $('#hdfRoleId').val(roleid);
        $('#txtRole').val(role);
        $('#txtNarration').val(narration);
    }
    function ShowRole() {
        debugger;
        $.ajax({
            url: "/Role/ShowRole",
            type: "Get",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                debugger;
                var data = JSON.parse(data.json);
                _roledatatable = $('#RoleTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'roleId' }, //give same name come in response from service side order of names same define above
                        { 'data': 'role' },
                        { 'data': 'narration' },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-info' onclick=EditRoles('" + row.roleId + "','" + row.role + "','" + row.narration + "'); >Edit</a>";
                            }
                        },
                        {
                            'render': function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteRoles('" + row.roleId + "'); >Delete</a>";
                            }
                        }
                    ],
                    columnDefs:
                        [{
                            targets: [0],
                            visible: false,
                            searchable: true
                        }],
                    dom: 'Bfrtip',
                    buttons: [
                        'print'
                    ]
                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });

    }
    function Refresh() {
        $("#txtNarration").val("");
        $("#txtRole").val("");
        $("#hdfRoleId").val("0");
        _roledatatable.destroy();

    }


</script>
<script src="~/Content/datatables/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/pdfmake.min.js"></script>
<script src="~/Scripts/vfs_fonts.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/buttons.print.min.js"></script>

